<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zking.zkingedu.common.dao.CategoryDao">

    <!--题库类别-->
    <select id="getCategoryall" resultType="Category">
        select * from t_category
    </select>

    <!--题库类别非停用-->
    <select id="getCategory" resultType="Category">
        select * from t_category where category_state = 0
    </select>

    <!--查询所有的夫体系ID-->
    <select id="getFCategory" resultType="Category">
        select * from t_category where category_fid=0
    </select>

    <!--添加题库类别-->
    <insert id="addCategory">
        insert into t_category(category_name,category_fid,category_time,category_eid,category_rank,category_state)
        values (#{categoryName},#{categoryFid},#{categoryTime},#{categoryEid},#{categoryRank},#{categoryState})
    </insert>
    <!--修改题库状态-->
    <update id="updatecategoryState">
        update t_category set
        <if test="categoryState!=null">
            category_state = #{categoryState}
        </if>
       <if test="categoryName!=null">
           category_name = #{categoryName}
       </if>
        where category_id = #{categoryID}
    </update>
    <!--删除题库类别-->
    <delete id="delcategory">
        delete from t_category where category_id = #{categoryID}
    </delete>
<!--获取题库类别名称-->
    <select id="getcat" resultType="Category">
        select * from t_category where category_id = #{categoryID}
    </select>

    <!--根据父题库ID查询子题库字段-->
    <select id="gettikuzitype" resultType="Category">
        select * from t_category
        <where>
            <if test="categoryFID==null">
                category_fid = 1
            </if>
            <if test="categoryFID!=null">
                category_fid = #{categoryFID}
            </if>
        </where>
    </select>
</mapper>