<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zking.zkingedu.common.dao.CourseDao">
    <!--根据课程收费状态、课程类别、课程名称查询-->
    <select id="courses2" parameterType="Map" resultType="Map">
        select * from t_course where course_name LIKE '%${courseName}%'
        <!--判断课程是否收费-->
        <if test="free==0">
            and course_free=0
        </if>
        <if test="free==1">
            and course_free>0
        </if>
        <!--判断课程分类是全部还是单个-->
        <if test="Tid!=0">
            and course_type=#{Tid}
        </if>
    </select>

    <!--根据体系id获取体系下的课程数量-->
    <select id="ccount" resultType="Integer">
        select count(*) from t_course where course_sid in(select system_id from t_system where system_fid=#{systemID} and system_state=0) and course_state=0
    </select>

    <!--根据体系ID获取体系下所有课程-->
    <select id="courses" resultType="Course">
        select * from t_course where course_sid in(select system_id from t_system where system_fid=#{systemID} and system_state=0) and course_state=0
    </select>

    <!--根据课程Id查询课程、课程类别、讲师-->
    <select id="course" resultType="Map">
        select * from t_course a,course_type b,t_emp c where a.course_type=b.t_id and a.course_eid=c.emp_id and a.course_id=#{courseID}
    </select>

    <!--根据课程Id查询收藏此课程的人数-->
    <select id="collection" resultType="Integer">
        select count(*) from t_collection where collection_state=0 and collection_zpid=#{courseID}
    </select>

    <!--根据讲师Id查询发布课程数-->
    <select id="announcedc" resultType="Integer">
        select count(*) from t_course where course_eid=#{empID}
    </select>

    <!--根据课程Id获取章节、视频-->
    <select id="sections" resultType="Map">
        select * from t_section a,t_video b where a.section_id=b.video_sid and section_cid=#{courseID} order by a.section_seq
    </select>

    <!--likai begin-->
    <!--根据课程id得到所有的课程信息   -->
    <sql id="courseAll">
        course_id ,course_sid ,course_eid ,course_name ,course_desc ,course_img ,course_state ,course_free ,course_inte ,course_num ,course_time
    </sql>
    <select id="getCourseByCourseID" resultType="course">
        select
            <include refid="courseAll"></include>
        from t_course where course_id=#{courseID}
    </select>

    <!--展示所有课程信息（后台）-->
    <select id="couList" resultType="Map">
        select a.course_id,a.course_name,a.course_desc,a.course_img,a.course_state,a.course_free,a.course_num,a.course_time,a.course_inte,b.t_id,b.t_name,c.system_id,c.system_name,c.system_desc,d.*,e.system_id as 'system_fid',e.system_name as 'system_fname',e.system_desc as 'system_fdesc',e.system_img
        from t_course a,course_type b,t_system c,t_emp d,t_system e
        where a.course_type=b.t_id and b.t_sid=c.system_id and a.course_eid=d.emp_id and c.system_fid=e.system_id
        <if test="nametype=='courseName'">
            and a.course_name like '%${name}%'
        </if>
        <if test="nametype=='empName'">
            and d.emp_name like '%${name}%'
        </if>
        <!--判断是否是管理员-->
        <if test="empID!=1">
            and d.emp_id=#{empID}
        </if>
        <if test="page!=null">
            limit #{page},#{limit}
        </if>
    </select>

    <!--计算课程数量-->
    <select id="cuncour" resultType="Integer">
        select count(*) from t_course a,course_type b,t_system c,t_emp d,t_system e
        where a.course_type=b.t_id and b.t_sid=c.system_id and a.course_eid=d.emp_id and c.system_fid=e.system_id
        <if test="nametype=='courseName'">
            and a.course_name like '%${name}%'
        </if>
        <if test="nametype=='empName'">
            and d.emp_name like '%${name}%'
        </if>
    </select>

    <!--添加课程-->
    <insert id="couAdd" parameterType="Course">
        insert into t_course(course_sid,course_eid,course_name,course_desc,course_img,course_free,course_inte,course_time,course_type)
        values(#{courseSid},#{courseEid},#{courseName},#{courseDesc},#{courseImg},#{courseFree},#{courseInte},SYSDATE(),#{courseType})
    </insert>

    <!--修改课程-->
    <insert id="couUpd" parameterType="Course">
        UPDATE t_course SET course_sid=#{courseSid},course_name=#{courseName},course_desc=#{courseDesc},course_img=#{courseImg},course_free=#{courseFree},course_inte=#{courseInte},course_type=#{courseType}
        WHERE course_id=#{courseID}
    </insert>

    <!--根据课程ID删除课程-->
    <delete id="couDel" parameterType="Integer">
        DELETE FROM t_course WHERE course_id=#{courseID}
    </delete>

    <!--获取学习人数最多的前五条课程-->
    <select id="hotCou" resultType="Course">
        SELECT * FROM t_course ORDER BY course_num DESC LIMIT 0,4
    </select>

    <!--根据父体系ID获取热门课程前五条-->
    <select id="hotcoubySid" resultType="Course">
        SELECT * FROM t_course WHERE course_sid IN (SELECT system_id FROM t_system WHERE system_fid=#{systemID}) ORDER BY course_num DESC LIMIT 0,5
    </select>

    <!--根据课程ID修改学习人数-->
    <update id="updNum">
        UPDATE t_course SET course_num=course_num+1 where course_id=#{courseID}
    </update>

    <!--根据收藏（课程ID、帖子ID）ID，用户ID，收藏类型查询-->
    <select id="Bookmarked" resultType="Integer">
        SELECT collection_id FROM t_collection WHERE collection_zpid=#{courseID} AND collection_uid=#{userID} AND collection_state=#{collectionState}
    </select>

    <!--添加课程收藏-->
    <insert id="collAdd" parameterType="Integer">
        insert into t_collection(collection_zpid,collection_uid,collection_state,collection_time) values(#{courseID},#{userID},0,SYSDATE());
    </insert>

    <!--取消课程收藏-->
    <delete id="collDel">
        DELETE FROM t_collection WHERE collection_zpid=#{courseID} AND collection_uid=#{userID} AND collection_state=0
    </delete>

   <!--获取相似课程-->
    <select id="similarCou" resultType="Course">
        SELECT * FROM t_course WHERE course_type=#{tid} and course_id!=#{courseID} ORDER BY course_num DESC LIMIT 0,4
    </select>

    <!--根据用户ID查询收藏课程-->
    <select id="coucolls" resultType="Course">
        SELECT a.* FROM t_course a,t_collection b WHERE b.collection_state=0 AND b.collection_uid=#{userID} AND a.course_id=b.collection_zpid ORDER BY b.collection_time DESC
    </select>
</mapper>