<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zking.zkingedu.common.dao.OrderDao">

    <!--订单接口Mapper-->
    <!--增加一条订单信息-->
    <sql id="orderAll">
        order_id ,order_uid ,order_cid ,order_integral ,charge_time
    </sql>
    <insert id="insertOrder">
        insert into
            t_order(<include refid="orderAll"></include>)
        values
            (#{orderID},#{orderUid},#{orderCid},#{orderIntegral},#{chargeTime})
    </insert>

    <!--根据用户ID得到用户购买的所有课程-->
    <select id="getOrderCidByUserID" resultType="Integer">
        select order_cid from t_order where order_uid=#{orderUid} and order_cid = #{orderCid}
    </select>

    <!--根据用户iD得到自己所有订单-->
    <select id="getMyOrdersByUserID" resultType="order">
        select
            <include refid="orderAll"></include>
        from t_order where order_uid=#{orderUid}
    </select>

    <!--后台订单管理  orderShow.html-->
    <resultMap id="order_user_course" type="order">
        <id property="orderID" column="order_id"/>
        <result property="orderIntegral" column="order_integral"/>
        <result property="chargeTime" column="charge_time"/>
        <association property="user" javaType="user">
            <result property="userName" column="user_name"/>
        </association>
        <association property="course" javaType="course">
            <result property="courseName" column="course_name"/>
        </association>
    </resultMap>
    <select id="getOrders" resultMap="order_user_course">
        SELECT
            a.order_id,b.user_name,c.course_name,a.order_integral,a.charge_time
        from
            t_order a,t_user b,t_course c
        where a.order_uid=b.user_id
        and a.order_cid=c.course_id
        <if test="orderID!=null">
            and a.order_id like '%${orderID}%'
        </if>
        <if test="orderIntegral!=null">
            and a.order_integral like '%${orderIntegral}%'
        </if><if test="chargeTime!=null">
            and a.charge_time like '%${chargeTime}%'
        </if>
        <if test="user!=null">
            <if test="user.userName!=null">
                and b.user_name like '%${user.userName}%'
            </if>
        </if>
        <if test="course!=null">
            <if test="course.courseName!=null">
                and c.course_name like '%${course.courseName}%'
            </if>
        </if>
    </select>

    <!--删除订单记录-->
    <delete id="delOrderByID">
        delete from t_order where order_id=#{orderID}
    </delete>

    <!--我的课程-->
    <select id="getMyCourses" resultType="course">
        select c.course_id,c.course_name,c.course_img
        from t_user a,t_order b,t_course c
        where a.user_id=b.order_uid
        and b.order_cid=c.course_id
        and a.user_id=#{userID}
    </select>

</mapper>