<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zking.zkingedu.common.dao.PostDao">

    <!--帖子接口Mapper-->
    <!--查询所有帖子和其发帖人-->
    <select id="queryAllPost" resultType="map">
        select a.post_id,a.post_uid,a.post_name,a.post_content,a.post_time,a.post_num,a.post_state,a.sort_id,
        b.user_id,b.user_img,b.user_email,b.user_phone,b.user_name,b.user_password,b.user_integrsl,b.user_state,b.user_IP,b.user_lastTime,b.user_regTime,b.user_openid,
        d.sort_name
         from t_post a,t_user b,t_sort d where a.post_uid=b.user_id and a.sort_id=d.sort_id
    </select>




    <select id="queryAllPostByType" resultType="map">
        select a.post_id,a.post_uid,a.post_name,a.post_content,a.post_time,a.post_num,a.post_state,a.sort_id,
        b.user_id,b.user_img,b.user_email,b.user_phone,b.user_name,b.user_password,b.user_integrsl,b.user_state,b.user_IP,b.user_lastTime,b.user_regTime,b.user_openid,
        d.sort_name
         from t_post a,t_user b,t_sort d where a.post_uid=b.user_id and a.sort_id=d.sort_id AND d.sort_name=#{type} AND d.sort_state=0
    </select>

    <select id="queryPostByid" resultType="map">
        <if test="post.postID!=null">
            select a.post_id,a.post_uid,a.post_name,a.post_content,a.post_time,a.post_num,a.post_state,a.sort_id,
            b.user_id,b.user_img,b.user_email,b.user_phone,b.user_name,b.user_password,b.user_integrsl,b.user_state,b.user_IP,b.user_lastTime,b.user_regTime,b.user_openid,
            d.sort_name
            from t_post a,t_user b,t_sort d where a.post_uid=b.user_id and a.sort_id=d.sort_id and a.post_id=#{post.postID}
        </if>
        <if test="post.postUid!=null">
            select a.post_id,a.post_uid,a.post_name,a.post_content,a.post_time,a.post_num,a.post_state,a.sort_id,
            b.user_id,b.user_img,b.user_email,b.user_phone,b.user_name,b.user_password,b.user_integrsl,b.user_state,b.user_IP,b.user_lastTime,b.user_regTime,b.user_openid,
            d.sort_name
            from t_post a,t_user b,t_sort d where a.post_uid=b.user_id and a.sort_id=d.sort_id and a.post_uid=#{post.postUid}
        </if>
    </select>

    <select id="queryPostByUserId" resultType="map">
            SELECT
            a.collection_id,a.collection_zpid,a.collection_uid,a.collection_state,a.collection_time,
            b.post_id,b.post_uid,b.post_name,b.post_content,b.post_time,b.post_num,b.post_state,b.sort_id,
            d.user_id,d.user_img,d.user_email,d.user_phone,d.user_name,d.user_password,d.user_integrsl,d.user_state,d.user_IP,d.user_lastTime,d.user_regTime,d.user_openid
            FROM t_collection a,t_post b, t_user d
            WHERE a.collection_zpid = b.post_id and b.post_uid = d.user_id and a.collection_uid=#{uid}
    </select>

    <select id="queryPostByUserIdPage" resultType="map">
            SELECT
            a.collection_id,a.collection_zpid,a.collection_uid,a.collection_state,a.collection_time,
            b.post_id,b.post_uid,b.post_name,b.post_content,b.post_time,b.post_num,b.post_state,b.sort_id,
            d.user_id,d.user_img,d.user_email,d.user_phone,d.user_name,d.user_password,d.user_integrsl,d.user_state,d.user_IP,d.user_lastTime,d.user_regTime,d.user_openid
            FROM t_collection a,t_post b, t_user d
            WHERE a.collection_zpid = b.post_id and b.post_uid = d.user_id and a.collection_uid=#{uid} LIMIT #{page},#{size};
    </select>



    <select id="queryAllPostByTypeTo" resultType="map">
      <if test="type==1">
          select a.post_id,a.post_uid,a.post_name,a.post_content,a.post_time,a.post_num,a.post_state,a.sort_id,
          b.user_id,b.user_img,b.user_email,b.user_phone,b.user_name,b.user_password,b.user_integrsl,b.user_state,b.user_IP,b.user_lastTime,b.user_regTime,b.user_openid,
          d.sort_name
          from t_post a,t_user b,t_sort d where a.post_uid=b.user_id and a.sort_id=d.sort_id AND a.post_name LIKE '%${value}%';
      </if>
        <if test="type==2">
            select a.post_id,a.post_uid,a.post_name,a.post_content,a.post_time,a.post_num,a.post_state,a.sort_id,
            b.user_id,b.user_img,b.user_email,b.user_phone,b.user_name,b.user_password,b.user_integrsl,b.user_state,b.user_IP,b.user_lastTime,b.user_regTime,b.user_openid,
            d.sort_name
            from t_post a,t_user b,t_sort d where a.post_uid=b.user_id and a.sort_id=d.sort_id AND d.sort_name LIKE '%${value}%';
        </if>
    </select>





    <insert id="addPost" parameterType="post">
        insert into t_post(post_uid,post_name,post_content,post_time,post_num,post_state,sort_id)
        values (#{post.postUid},#{post.postName},#{post.postConten},#{post.postTime},#{post.postNum},#{post.postState},#{post.sortID});
    </insert>

    <select id="queryPagePost" resultType="map">
        select a.post_id as 'post_id1',a.post_uid,a.post_name,a.post_content,a.post_time,a.post_num,a.post_state,a.sort_id,
        b.user_id,b.user_img,b.user_email,b.user_phone,b.user_name,b.user_password,b.user_integrsl,b.user_state,b.user_IP,b.user_lastTime,b.user_regTime,b.user_openid,
        d.sort_name
         from t_post a,t_user b,t_sort d where a.post_uid=b.user_id and a.sort_id=d.sort_id AND d.sort_state=0 AND a.post_state=0 LIMIT #{page},#{size}
    </select>

    <select id="queryPagePostByType" resultType="map">
        SELECT a.post_id as 'post_id1',a.post_uid,a.post_name,a.post_content,a.post_time,a.post_num,a.post_state,a.sort_id,
        b.user_id,b.user_img,b.user_email,b.user_phone,b.user_name,b.user_password,b.user_integrsl,b.user_state,b.user_IP,b.user_lastTime,b.user_regTime,b.user_openid,
        d.sort_name
         FROM t_post a,t_user b,t_sort d WHERE a.post_uid=b.user_id AND a.sort_id=d.sort_id AND d.sort_name=#{type} AND d.sort_state=0 AND a.post_state=0 LIMIT #{page},#{size}
    </select>

    <select id="queryAllPostByNamePage" resultType="map">
        <if test="start!=null">
            SELECT a.post_id as 'post_id1',a.post_uid,a.post_name,a.post_content,a.post_time,a.post_num,a.post_state,a.sort_id,
            b.user_id,b.user_img,b.user_email,b.user_phone,b.user_name,b.user_password,b.user_integrsl,b.user_state,b.user_IP,b.user_lastTime,b.user_regTime,b.user_openid,
            d.sort_name
            FROM t_post a,t_user b,t_sort d WHERE a.post_uid=b.user_id AND a.sort_id=d.sort_id AND  d.sort_state=0 AND a.post_state=0 AND a.post_name LIKE '%${pname}%' LIMIT #{start},#{size}
        </if>
        <if test="start==null">
            SELECT a.post_id as 'post_id1',a.post_uid,a.post_name,a.post_content,a.post_time,a.post_num,a.post_state,a.sort_id,
            b.user_id,b.user_img,b.user_email,b.user_phone,b.user_name,b.user_password,b.user_integrsl,b.user_state,b.user_IP,b.user_lastTime,b.user_regTime,b.user_openid,
            d.sort_name
            FROM t_post a,t_user b,t_sort d WHERE a.post_uid=b.user_id AND a.sort_id=d.sort_id AND a.post_name LIKE '%${pname}%';
        </if>
    </select>

    <update id="banPost">
        <if test="type==1">
            UPDATE t_post SET post_state=1  WHERE post_id=#{post_id};
        </if>

        <if test="type==0">
            UPDATE t_post SET post_state=0  WHERE post_id=#{post_id};
        </if>
    </update>

    <update id="pageView">
        UPDATE t_post SET post_num=post_num+1 WHERE post_id=#{post_id};
    </update>

    <select id="queryPostByUid" resultType="map">
        SELECT a.post_id as 'post_id1',a.post_uid,a.post_name,a.post_content,a.post_time,a.post_num,a.post_state,a.sort_id,
        b.user_id,b.user_img,b.user_email,b.user_phone,b.user_name,b.user_password,b.user_integrsl,b.user_state,b.user_IP,b.user_lastTime,b.user_regTime,b.user_openid,
        d.sort_name
         FROM t_post a,t_user b,t_sort d WHERE a.post_uid=b.user_id AND a.sort_id=d.sort_id AND a.post_state=0 AND a.post_uid=#{uid};
    </select>

    <select id="queryPostByUidPage" resultType="map">
         SELECT a.post_id as 'post_id1',a.post_uid,a.post_name,a.post_content,a.post_time,a.post_num,a.post_state,a.sort_id,
        b.user_id,b.user_img,b.user_email,b.user_phone,b.user_name,b.user_password,b.user_integrsl,b.user_state,b.user_IP,b.user_lastTime,b.user_regTime,b.user_openid,
        d.sort_name
         FROM t_post a,t_user b,t_sort d WHERE a.post_uid=b.user_id AND a.sort_id=d.sort_id AND a.post_state=0 AND  a.post_uid=#{uid} LIMIT #{start},#{size};
    </select>
</mapper>