<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zking.zkingedu.common.dao.RoleDao">

    <!--角色接口Mapper-->
    <select id="getrole" resultType="role">
        select * from t_role
    </select>
    <delete id="deleterolebyid">
        DELETE from t_menu_role where role_id = #{roleid}
    </delete>

    <delete id="delrolebyid">
        DELETE from t_role where role_id = #{roleid}
    </delete>

    <insert id="addrolebyid">
        INSERT into t_menu_role(role_id,menu_id) VALUES(#{roleid},#{menuid});
    </insert>
    <update id="updaterolenamebyid">
        update t_role set role_name = #{rolename} where role_id = ${roleid}
    </update>

    <insert id="addrole" parameterType="Role"  useGeneratedKeys="true" keyProperty="roleID" keyColumn="role_id">
        INSERT into t_role(role_name) VALUES(#{Role.roleName});
    </insert>

    <select id="existsrolename" resultType="_int">
        select count(*) from t_role where role_name = #{rolename}
    </select>
</mapper>