<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zking.zkingedu.common.dao.SystemDao">
    <!--开启二级缓存-->
    <cache />
    <!--获取所有体系-->
    <select id="systems" resultType="System">
        select * from t_system where system_fid=#{systemFid}
    </select>

    <!--根据体系Id查询体系-->
    <select id="system" resultType="System">
        select * from t_system where system_id=#{systemID}
    </select>

    <!--获取所有体系（后台）-->
    <select id="sysList" resultType="System">
        select * from t_system where 1=1
        <if test="fid==0 or fid==null">
            and system_fid=0
        </if>
        <if test="fid!=0 and fid!=null">
            and system_fid>0
        </if>
        <if test="sysName!=null">
            and system_name like '%${sysName}%'
        </if>
        <if test="page!=null">
            limit #{page},#{limit}
        </if>
    </select>

    <!--获取所有体系数量（后台）-->
    <select id="syscount" resultType="Integer">
        select count(*) from t_system where 1=1
        <if test="fid==0 or fid==null">
            and system_fid=0
        </if>
        <if test="fid!=0 and fid!=null">
            and system_fid>0
        </if>
        <if test="sysName!=null">
            and system_name like '%${sysName}%'
        </if>
    </select>

    <!--根据体系Id修改体系图片路径-->
    <update id="upSysimg">
        update t_system set system_img=#{systemImg} where system_id=#{systemID}
    </update>

    <!--根据体系Id修改体系-->
    <update id="upSys">
        update t_system set system_name=#{systemName},system_fid=#{systemFid},system_desc=#{systemDesc},system_img=#{systemImg} where system_id=#{systemID}
    </update>

    <!--添加体系-->
    <insert id="systemAdd">
        insert into t_system(system_name,system_fid,system_desc,system_img) values(#{systemName},#{systemFid},#{systemDesc},#{systemImg})
    </insert>

</mapper>