<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
  <title>资源列表</title>
  <script src="/admin/js/jquery.min.js"></script>
  <script type="text/javascript" src="/admin/js/xadmin.js"></script>
</head>
<body>

<div class="demoTable">
  搜索：
  <div class="layui-inline">
    <input  placeholder="请输入资源名" class="layui-input" name="demoReload" id="demoReload" autocomplete="off">
  </div>
  <div class="layui-btn" data-type="reload">搜索</div>
  <button class="layui-btn" onclick="x_admin_show('开发者工具','/test',600,400)"><i class="layui-icon"></i>添加</button>
</div>

<table class="layui-hide" id="test" lay-filter="test"></table>

<script type="text/html" id="barDemo">
  <!--<a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>-->
  <button class="layui-btn" onclick="x_admin_show('开发者工具','/getToolByID?toolIDs={{d.toolID}}',600,450)">编辑</button>
  <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<link rel="stylesheet" th:href="@{admin/lib/layui/css/layui.css}" />
<script th:src="@{admin/lib/layui/layui.js}"  charset="utf-8"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->

<script>
  layui.use('table', function(){
    var table = layui.table;
    var $ = layui.jquery;

    table.render({
      elem: '#test'
      ,url:'/setTool'
      ,toolbar: '#toolbarDemo'
      ,title: '开发者工具表'
      ,id:"tableReload"
      ,height: 550
      ,cols: [
        [
          {type: 'checkbox', fixed: 'left'}
          ,{field:'toolID', title:'ID', fixed: 'left', unresize: true}
          ,{field:'toolName', title:'资源名'}
          ,{field:'toolDescribe', title:'介绍'}
          ,{field:'toolURL', title:'链接',}
          ,{field:'toolImg', title:'图片', templet:'<div><img src="{{d.toolImg}}"></div>'}
          ,{field:'toolTime', title:'更新日期'}
          ,{fixed: 'right', title:'操作', toolbar: '#barDemo'}
        ]
      ]
      ,page: true
    });

    $("#search").on('click', function(){
      var demoReload = $('#demoReload').val();
      var start = $('#start').val();
      var end = $('#end').val();
      //执行重载
      table.reload('tableReload', {
        page: {
          curr: 1 //重新从第 1 页开始
        }
        ,where: {
          'demoReload' : demoReload,
          'start' : start,
          'end' : end,
        }
      });
    });

    //监听行工具事件
    table.on('tool(test)', function(obj){
      var data = obj.data;
      if(obj.event === 'del'){
        layer.confirm('真的删除行么', function(index){
          $.ajax({
            url:'/deleteTool',
            type:'post',
            data:{
              toolID:data.toolID,
            },
            success:function () {
              obj.del();
              layer.close(index);
            },
            error:function () {
              layer.msg("出现bug了，请联系921607915")
            }
          });
        });
      }
      // else if(obj.event === 'edit'){
      //     layer.prompt({
      //         formType: 2
      //         ,value: data.email
      //     }, function(value, index){
      //         $.ajax({
      //             url: "/updateTool",
      //             data: {
      //                 'value': value,
      //                 toolID:data.toolID,
      //             },
      //             type: "post",
      //             dataType: 'json',
      //             success: function (data) {
      //                 layer.close(index);
      //             }
      //         });
      //         obj.update({
      //             email: value
      //         });
      //         layer.close(index);
      //     });
      // }
    });
  });

</script>

</body>
</html>