<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>章节管理</title>
    <!--引入LayUI CSS-->
    <link rel="stylesheet" href="/user/layui/css/layui.css" media="all">
    <!--引入LayUI js-->
    <script src="/user/layui/layui.js" charset="utf-8"></script>
    <style>
        /*设置表格分页工具居中*/
        .layui-table-page{
            text-align: center
        }
    </style>
</head>
<body>
<!--隐藏域（获取后台传来的课程Id-->
<input type="hidden" id="courseId" th:value="${courseId}" />
<!--表格头工具栏-->
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="add">添加</button>
        <button class="layui-btn layui-btn-sm" lay-event="delete">删除</button>
    </div>
</script>
<!--课程章节数据表格-->
<table class="layui-hide" id="secList" lay-filter="test"></table>
<!--行工具栏-->
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-warm layui-btn-sm" lay-event="video">查看视频</a>
    <a class="layui-btn layui-btn-normal layui-btn-sm" lay-event="MoveUp">上移</a>
    <a class="layui-btn layui-btn-danger layui-btn-sm" lay-event="down">下移</a>
</script>

<script type="text/javascript" th:inline="none">
    layui.use(['layer', 'table', 'element','form'], function () {
        var $ = layui.jquery
            , layer = layui.layer //弹层
            , table = layui.table //表格
            , element = layui.element //元素操作
            , form = layui.form //表单

        //获取课程Id
        var courseId=$('#courseId').val();

        //监听头工具栏
        table.on('toolbar(test)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id),
            data=checkStatus.data; //获取选中的数据
            switch(obj.event){
                case 'add': //添加课程章节
                    //关闭其他iframe层
                    layer.closeAll("iframe");
                    //弹出登录添加章节界面（sectionAdd.html）
                    layer.open({
                        type: 2 //弹出页面（iframe）
                        ,title: "章节上传" //弹出层标题
                        ,area: ['650px', '85%'] //弹出层大小
                        ,content: '/url/secAdd?courseId='+courseId //弹出层内容
                        ,shade: 0 //不显示遮罩
                    });
                    break;
                case 'delete': //批量删除课程章节
                    if(data.length==0){ //判断用户是否选中了数据
                        layer.msg("请选择需要删除的课程章节");
                    }else{
                        layer.confirm("确定删除选中的课程章节？",function(){
                            //选中的的章节Id集合
                            var sectionIDs='';
                            //循环选中的章节ID
                            $(data).each(function(i,sec){
                                sectionIDs+=sec.sectionID+",";
                            });
                            //将值传入删除方法进行删除
                            active.secDel(sectionIDs,courseId);
                        });
                    }
                    break;
            };
        });

        //自定义方法
        var active={
            //删除课程章节
            secDel:function (sectionIDs,courseId) {
                $.ajax({
                    url:'/admin/secDel',
                    data:{
                        sectionIDs:sectionIDs,
                        courseId: courseId
                    },
                    success: function (res) {
                        if(res==-1){
                            alert("删除过程中发生错误，删除程序已停止");
                        }else if(res>0){
                            layer.msg("成功删除"+res+"条数据");
                            //获取当前页码数
                            var curr=$(".layui-laypage-em").next().html();
                            //刷新页面
                            active.reload(curr);
                        }else if(res==0){
                            alert("删除失败");
                        }
                    },
                    error: function () {
                        alert("删除课程章节回调出错");
                    }
                });
            },
            //刷新方法
            reload: function (curr) {
                table.reload("secList", {//执行传值并重载
                    page: {
                        curr: curr //页码
                    }
                });
            },
            //章节上移下移方法
            updn: function (sectionCid,sectionSeq,layEvent) {
                $.ajax({
                    url: '/admin/'+layEvent,
                    data: {
                        sectionCid: sectionCid,
                        sectionSeq: sectionSeq
                    },
                    success: function(res){
                        if (res==-1){
                            alert("移动失败，请稍后重试");
                        }else if (res==2) {
                            //获取当前页码数
                            var curr=$(".layui-laypage-em").next().html();
                            //刷新页面
                            active.reload(curr);
                        }
                    },
                    error: function () {
                        alert("上移下移接口回调出错");
                    }
                });
            }
        };

        //渲染表格
        table.render({
            id: 'secList',
            elem: '#secList', //数据表格
            url: '/admin/secList',  //后台传来的数据
            page: true, //开启分页
            toolbar: '#toolbarDemo', //开启工具栏
            limit: 6,
            limits: [6,12,18,24,30],  //每页条数下拉框选项
            where: {
                courseId:courseId
            },
            cols: [[
                {type: 'checkbox', align: 'left', fixed: 'left'} //复选框
                ,{field: 'sectionID', align: 'left', title: '章节ID', sort: true}
                ,{field: 'sectionName', align: 'left', title: '章节名称', edit: 'text'}
                ,{field: 'sectionInte', align: 'left', title: '章节积分', sort: true, edit: 'text'}
                ,{field: 'sectionTime', align: 'left', title: '更新时间', sort: true}
                ,{field: 'sectionSeq', align: 'left', title: '章节顺序号', sort: true}
                ,{field: 'videoUrl', align: 'left', title: '视频ID'}
                ,{field: 'sectionCid', align: 'left', title: '课程ID', hide: true}
                ,{title: '操作', toolbar: '#barDemo'}
            ]]
        });

        //监听行工具栏
        table.on('tool(test)', function (obj) { //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
            var data = obj.data //获得点击行数据
                , layEvent = obj.event; //获得 lay-event 对应的值，判断进行的操作
            if(layEvent=='video'){
                //关闭其他iframe层
                layer.closeAll("iframe");
                //弹出优酷播放界面
                layer.open({
                    type: 2 //弹出页面（iframe）
                    ,title: "视频播放" //弹出层标题
                    ,area: ['60%', '85%'] //弹出层大小
                    ,content: '/url/video?videoUrl='+data.videoUrl //弹出层内容
                    ,shade: 0 //不显示遮罩
                });
            }else if(layEvent=='MoveUp'){
                //获取章节顺序号、课程号
                var sectionCid=data.sectionCid,
                    sectionSeq=data.sectionSeq;
                //判断是否是第一行
                if(sectionSeq==1){
                    layer.msg("已经是第一行了");
                }else{
                    //关闭其他iframe层
                    layer.closeAll("iframe");
                    //调用上下移动方法
                    active.updn(sectionCid,sectionSeq,layEvent);
                }
            }else if(layEvent=='down'){ //下移
                //获取章节顺序号、课程号
                var sectionCid=data.sectionCid,
                    sectionSeq=data.sectionSeq;
                    //关闭其他iframe层
                    layer.closeAll("iframe");
                    //调用上下移动方法
                    active.updn(sectionCid,sectionSeq,layEvent);
            }
        });

        //监听单元格编辑
        table.on('edit(test)', function(obj){
            var value = obj.value //修改后的值
                ,data = obj.data //所有键值
                ,field = obj.field; //修改的字段
            // layer.msg('[ID: '+ data.sectionID +'] ' + field + ' 字段更改为：'+ value);
            //去掉左右空格判断修改后的值是否为null
            if(value.trim(value)==''||value==null){
                layer.msg("不能输入空值");
                //获取当前页码数
                var curr=$(".layui-laypage-em").next().html();
                active.reload(curr);
            }else{
                $.ajax({
                    url: '/admin/secUpd',
                    data: {
                        field: field,
                        value: value,
                        sectionID: data.sectionID
                    },
                    success: function (res) {
                        if (res>0){
                            layer.msg("修改成功");
                        }
                    },
                    error: function () {
                        alert("修改章节接口回调出错");
                    }
                });
            }

        });

    });
</script>
</body>
</html>