<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--引入LayUI CSS-->
    <link rel="stylesheet" href="/user/layui/css/layui.css" media="all">
    <title>体系管理</title>
    <style>
        /*设置表格分页工具居中*/
        .layui-table-page{
            text-align: center
        }

        /*弹出层input样式*/
        .layui-col-md10 input{
            width: 75%;
        }
    </style>
</head>
<body>
<!--搜索-->
<div align="center">
    <button type="button" id="fid" class="layui-btn layui-btn-normal">父体系</button>
    <button type="button" id="zid" class="layui-btn layui-btn-warm">子体系</button>
    <!--体系名称文本框-->
    <div class="layui-inline">
        <input class="layui-input" id="sysName" placeholder="请输入体系名称" autocomplete="off" onkeyup="this.value=this.value.replace(/\s+/g,'')">
    </div>
    <!--搜索-->
    <button class="layui-btn" id="searchBtn" data-type="reload">搜索</button>
</div>
<!--表格头工具栏-->
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="add">添加</button>
    </div>
</script>
<!--数据表格-->
<table class="layui-hide" id="sysList" lay-filter="test"></table>
<!--操作栏-->
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="detail">查看</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="edit">修改</a>
</script>
<!--查看体系弹出层-->
<div class="layui-row" id="systemShow" style="display:none;margin-left: 15%;">
    <div class="layui-col-md10">
        <div class="layui-form-item"><label class="layui-form-label">体系ID：</label>
            <div class="layui-input-block"><input type="text" readonly="readonly" id="systemID" autocomplete="off" class="layui-input" >
            </div>
        </div>
        <div class="layui-form-item"><label class="layui-form-label">体系名称：</label>
            <div class="layui-input-block"><input type="text" readonly="readonly" id="systemName" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item"><label class="layui-form-label">所属体系：</label>
            <div class="layui-input-block"><input type="text" readonly="readonly" id="systemFName" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item"><label class="layui-form-label">体系简介：</label>
            <div class="layui-input-block">
                <textarea placeholder="请输入内容" readonly="readonly" id="systemDesc" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item"><label class="layui-form-label">体系图片：</label>
            <div class="layui-input-block">
                <img style="width: 100%;height: 100%;" id="systemImg">
            </div>
        </div>
    </div>
</div>

<!--修改体系弹出层-->
<div class="layui-row" id="systemUpd" style="display:none;margin-left: 15%;">
    <form class="layui-form">
        <div class="layui-col-md10">
            <div class="layui-form-item"><label class="layui-form-label">体系ID：</label>
                <div class="layui-input-block"><input type="text" readonly="readonly" name="systemID" id="upsystemID" autocomplete="off" class="layui-input" >
                </div>
            </div>
            <div class="layui-form-item"><label class="layui-form-label">体系名称：</label>
                <div class="layui-input-block"><input type="text" id="upsystemName" name="systemName" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">所属体系：</label>
                <div class="layui-input-block">
                    <select id="upsystemFName" name="systemFid">
                    </select>
                </div>
            </div>
            <div class="layui-form-item"><label class="layui-form-label">体系简介：</label>
                <div class="layui-input-block">
                    <textarea placeholder="请输入内容" id="upsystemDesc" name="systemDesc" class="layui-textarea"></textarea>
                </div>
            </div>

            <!--图片上传以及展示-->
            <div class="layui-form-item"><label class="layui-form-label">体系图片：</label>
                <div class="layui-input-block">
                    <img style="width: 100%;height: 100%;" id="upsystemImg" />
                    <!--图片上传失败重试按钮-->
                    <p id="demoText"></p>
                </div>
            </div>
            <!--隐藏域（放图片路径）-->
            <input type="hidden" id="simg" name="systemImg" />

            <!--form表单提交-->
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit="" lay-filter="upsys">修改完成</button>
                    <!--<button type="reset" class="layui-btn layui-btn-primary">重置</button>-->
                </div>
            </div>
        </div>
    </form>
</div>

<!--增加体系弹出层-->
<div class="layui-row" id="systemAdd" style="display:none;margin-left: 15%;">
    <form class="layui-form" id="sysAdd">
        <div class="layui-col-md10">
            <div class="layui-form-item"><label class="layui-form-label">体系名称：</label>
                <div class="layui-input-block"><input type="text" id="adsystemName" name="systemName" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">所属体系：</label>
                <div class="layui-input-block">
                    <select id="adsystemFName" name="systemFid">
                    </select>
                </div>
            </div>
            <div class="layui-form-item"><label class="layui-form-label">体系简介：</label>
                <div class="layui-input-block">
                    <textarea placeholder="请输入内容" id="adsystemDesc" name="systemDesc" class="layui-textarea"></textarea>
                </div>
            </div>

            <!--图片上传以及展示-->
            <div class="layui-form-item"><label class="layui-form-label">体系图片：</label>
                <div class="layui-input-block">
                    <img style="width: 100%;height: 100%;" id="adsystemImg" />
                    <!--图片上传失败重试按钮-->
                    <p id="demoText1"></p>
                </div>
            </div>
            <!--隐藏域（放图片路径）-->
            <input type="hidden" id="simg1" name="systemImg" />

            <!--form表单提交-->
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button type="button" class="layui-btn" id="test1">
                        <i class="layui-icon">&#xe67c;</i>上传图片
                    </button>
                    <button class="layui-btn" lay-submit="" lay-filter="adsys">添加体系</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </div>
    </form>
</div>


<!--引入LayUI js-->
<script src="/user/layui/layui.js" charset="utf-8"></script>
<script type="text/javascript" th:inline="none">
    layui.use(['layer', 'table', 'element','form','upload'], function () {
        var $= layui.jquery
            , layer = layui.layer //弹层
            , table = layui.table //表格
            , element = layui.element //元素操作
            , form = layui.form //表单
            , upload= layui.upload //文件上传

        //查询的条件：父体系/子体系/体系名称
        var fid=0
            ,sysName;

        //监听事件
        table.on('toolbar(test)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id);
            switch(obj.event){
                //添加
                case 'add':
                    //给下拉框赋值
                    $("#adsystemFName").html(active.sele());

                    //打开弹出层
                    layer.open({
                        type: 1
                        ,title: "添加体系" //弹出层标题
                        ,area: ['800px', '570px'] //弹出层大小
                        ,content: $("#systemAdd") //弹出层内容
                        ,shade: 0 //不显示遮罩
                        ,yes: function(){
                            layer.closeAll();
                        }
                    });

                    //表单渲染
                    form.render();
                    break;
            };
        });

        //监听增加体系表单提交
        form.on('submit(adsys)', function(data){
            $.ajax({
                url:'/admin/systemAdd',
                data:data.field,
                dataType:'JSON',
                success:function(res){
                    if(res!=0){
                        //获取当前页码数
                        var curr=$(".layui-laypage-em").next().html();
                        //重载刷新数据
                        active.reload(curr,sysName,fid);
                        //关闭弹出层
                        layer.closeAll();
                        //清空添加form表单的数据
                        document.getElementById("sysAdd").reset();
                        alert("添加成功");
                    }
                },
                error:function (data) {
                    layui.alert("接口回调失败");
                }
            }) ;
            return false;
        });

        //添加体系图片（增加方法）
        var uploadInst1 = upload.render({
            elem: '#test1' //图片上传点击事件
            ,url: '/admin/upSysimg'
            ,before: function(obj){
                //预读本地文件示例，不支持ie8
                obj.preview(function(index, file, result){
                    //图片预览（base64）
                    $('#adsystemImg').attr('src', result);
                });
            }
            //文件上传成功返回的参数
            ,done: function(res){
                //上传失败
                if(res.code > 0){
                    return layer.msg('上传失败');
                }else{//上传成功
                    //将返回的图片路径放进隐藏域
                    $('#simg1').val(res.data.src);
                }
            }
            ,error: function(){
                //演示失败状态，并实现重传
                var demoText = $('#demoText1');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function(){
                    uploadInst1.upload();
                });
            }
        });

        //自定义方法
        var active = {
            //重载（刷新数据表格）
            reload:function(curr,sysName,fid){
                setTimeout(function () {
                    table.reload("sysList", {//执行传值并重载
                        page: {
                            curr: curr //页码
                        },
                        where: {
                            sysName: sysName, //体系名称
                            fid: fid //父Id||子Id
                        }
                    });
                }, 800);
            },
            //获取下拉框数据的方法
            sele: function () {
                var content='';
                //获取所有父体系
                $.ajax({
                    url: "/systems",
                    type:"post",
                    contentType : "application/json",//应用类型/json
                    async: false,
                    data:JSON.stringify({
                        systemID:0
                    }),
                    success:function (systems) {
                        //拼接下拉框
                        content+='<option value="0" selected="selected">无</option>';
                        for(var i=0;i<systems.data.length;i++){
                            //判断选中
                            content+='<option value="'+systems.data[i].systemID+'">'+systems.data[i].systemName+'</option>';
                        }
                    },
                    error:function () {
                        alert("数据回调异常");
                    }
                });
                return content;
            }
        };

        //监听搜索按钮、父/子按钮
        $("#searchBtn").on("click",function(){
            //获取文本框内容
            sysName=$('#sysName').val();
            //调用重载
            active.reload(1,sysName,fid);
        });
        $("#fid").on("click",function(){
            fid=0;
            //调用重载
            active.reload(1,null,fid);
        });
        $("#zid").on("click",function(){
            fid=1;
            //调用重载
            active.reload(1,null,fid);
        });

        //监听操作栏(查看、修改)
        table.on('tool(test)', function (obj) { //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
            var data = obj.data //获得点击行数据
                ,layEvent = obj.event; //获得 lay-event 对应的值，判断进行的操作
            if(layEvent=='detail'){//查看操作
                //给弹出层赋值
                $("#systemID").val(data.systemID);
                $("#systemName").val(data.systemName);
                $("#systemFName").val(data.systemFName);
                $("#systemDesc").val(data.systemDesc);
                //体系图片赋值
                $("#systemImg").attr("src",data.systemImg);

                //打开弹出层
                layer.open({
                    type: 1
                    ,title: "体系详情" //弹出层标题
                    ,area: ['800px', '570px'] //弹出层大小
                    ,content: $("#systemShow") //弹出层内容
                    ,btn: '关闭全部' //弹出层按钮
                    ,btnAlign: 'c' //按钮居中
                    ,shade: 0 //不显示遮罩
                    ,yes: function(){
                        layer.closeAll();
                    }
                });
            }else if(layEvent=='edit'){ //修改操作
                var sele = active.sele();
                //给弹出层赋值
                $("#upsystemFName").html(sele);
                $("#upsystemID").val(data.systemID);
                $("#upsystemName").val(data.systemName);
                $("#upsystemDesc").val(data.systemDesc);
                //体系图片赋值
                $("#upsystemImg").attr("src",data.systemImg);
                //隐藏域赋值
                $('#simg').val(data.systemImg);
                //设置下拉框选中
                $("#upsystemFName").find("option[value='"+data.systemFid+"']").prop("selected",true);

                //打开弹出层
                var a=layer.open({
                    type: 1
                    ,title: "体系修改" //弹出层标题
                    ,area: ['800px', '570px'] //弹出层大小
                    ,content: $("#systemUpd") //弹出层内容
                    ,shade: 0 //不显示遮罩
                    ,yes: function(){
                        layer.closeAll();
                    }
                });

                //渲染form表单
                form.render();
            }
        });

        //监听修改体系表单提交
        form.on('submit(upsys)', function(data){
            $.ajax({
                url:'/admin/systemUpd',
                data:data.field,
                dataType:'JSON',
                success:function(res){
                    if(res!=0){
                        //获取当前页码数
                        var curr=$(".layui-laypage-em").next().html();
                        //重载刷新数据
                        active.reload(curr,sysName,fid);
                        //关闭弹出层
                        layer.closeAll();
                        alert("修改成功");
                    }
                },
                error:function (data) {
                    layui.alert("接口回调失败");
                }
            }) ;
            return false;
        });

        //体系图片修改
        var uploadInst = upload.render({
            elem: '#upsystemImg' //图片上传点击事件
            ,url: '/admin/upSysimg'
            ,before: function(obj){
                //预读本地文件示例，不支持ie8
                obj.preview(function(index, file, result){
                    //图片预览（base64）
                    $('#upsystemImg').attr('src', result);
                });
            }
            //文件上传成功返回的参数
            ,done: function(res){
                // alert(res.code);
                //上传失败
                if(res.code > 0){
                    return layer.msg('上传失败');
                }else{//上传成功
                    //将返回的图片路径放进隐藏域
                    $('#simg').val(res.data.src);
                }
            }
            ,error: function(){
                //演示失败状态，并实现重传
                var demoText = $('#demoText');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function(){
                    uploadInst.upload();
                });
            }
        });

        //渲染数据表格（获取所有体系）
        table.render({
            id: 'sysList',
            elem: '#sysList', //数据表格
            url: '/admin/sysList',  //后台传来的数据
            page: true, //开启分页
            toolbar: '#toolbarDemo', //开启工具栏
            limit: 6,
            limits: [6,12,18,24,30],  //每页条数下拉框选项
            cols: [[
                {field: 'systemID', align: 'left', title: '体系ID', sort: true}
                ,{field: 'systemName', align: 'left', title: '体系名称'}
                ,{field: 'systemFName', align: 'left', title: '父体系', sort: true}
                ,{field: 'systemDesc', align: 'left', title: '体系简介'}
                ,{field: 'systemImg', align: 'left', title: '体系图片'}
                ,{title: '操作', toolbar: '#barDemo'}
            ]]
        });

    });
</script>
</body>
</html>