
<!DOCTYPE html>
<!--suppress ALL-->
<html lang="zh-CN">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="Lei Shi">
  <meta http-equiv="Cache-Control" content="o-transform">
  <meta http-equiv="Cache-Control" content="no-siteapp">
  <meta name="csrf-token" content="1483780974##87f89328c5616669f00302a263fe9061bb852818">
	
		
        <title>全部 - 课程 - 实验楼</title>
		
	

    
<meta content="实验楼课程分为基础课和项目课，内容涵盖了Linux、Python、Java、C语言、Ruby、Android、IOS开发、大数据、信息安全等IT技术领域。" name="description">
<meta content="实验楼课程,IT培训课程,IT实训课程,IT在线课程,all" name="keywords">

    <meta content="实验楼,琛石科技" name="author">

	<link rel="shortcut icon" href="favicon.ico">
	<link rel="stylesheet" href="/user/static/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/user/static/highlight.js/9.8.0/monokai-sublime.min.css">
    <link rel="stylesheet" href="/user/app/css/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/user/app/css/libs/katex/0.6.0/katex.min.css">
    <link rel="stylesheet" href="/user/app/css/libs/videojs/5.11.7/video-js.min.css">
	<link rel="stylesheet" href="/user/app/css/dest/styles.css">

    <!--引入LayUI CSS-->
    <link rel="stylesheet" href="/user/layui/css/layui.css" media="all">

	<style>
		@font-face {
			font-family: "lantingxihei";
			src: url("/user/fonts/FZLTCXHJW.TTF");
		}

        /* modal 模态框*/
        #invite-user .modal-body {
            overflow: hidden;
        }
		#invite-user .modal-body .form-label {
			margin-bottom: 16px;
			font-size:14px;
		}
		#invite-user .modal-body .form-invite {
			width: 80%;
			padding: 6px 12px;
			background-color: #eeeeee;
			border: 1px solid #cccccc;
			border-radius: 5px;
			float: left;
			margin-right: 10px;
		}
		#invite-user .modal-body .msg-modal-style {
			background-color: #7dd383;
			margin-top: 10px;
			padding: 6px 0;
			text-align: center;
			width: 100%;
		}
		#invite-user .modal-body .modal-flash {
			position: absolute;
			top: 53px;
			right: 74px;
			z-index: 999;
		}
		/* end modal */

        .en-footer {
            padding: 30px;
            text-align: center;
            font-size: 14px;
        }
    </style>
</head>

<body>
<!--引入头部样式-->
<div th:replace="user/head :: html"></div>



<div class="container layout layout-margin-top">
    <div class="row">
        <div class="col-md-9 layout-body">
            
    <div class="content">
        <div class="row course-cates">
            <div class="col-md-1 course-cates-title">收费：</div>
            <div class="col-md-11 course-cates-content free">
                <a th:title="${free}" name="2" th:href='${"/courseindex/"+Tid+"/2/"+courseName}'>全部</a>
                <a name="0" th:href='${"/courseindex/"+Tid+"/0/"+courseName}'>免费</a>
                <a name="1" th:href='${"/courseindex/"+Tid+"/1/"+courseName}'><img src="/user/img/vip-icon.png"> 收费</a>
            </div>
        </div>

        <div class="row course-cates">
            <div class="col-md-1 course-cates-title">类型：</div>
            <div class="col-md-11 course-cates-content system">
                <a id="0" th:name="${Tid}" th:href='${"/courseindex/0/"+free+"/"+courseName}'>全部</a>
                <!--后台获取所有课程分类-->
                <a th:id="${courseType.Tid}" th:each="courseType:${courseTypes}" th:text="${courseType.tName}" th:href='${"/courseindex/"+courseType.Tid+"/"+free+"/"+courseName}'></a>
            </div>
        </div>

    </div>

            <div class="content position-relative">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="active"><a href="/courses/?course_type=all&amp;tag=all&amp;fee=all">已上线</a></li>
                </ul>
                <div class="clearfix"></div>
                <!--切换课程排行-->
                <!--<div class="courses-sort">
                    <a  href="/courses/?course_type=all&amp;tag=all&amp;fee=all&amp;order=latest">最新</a>
                    /
                    <a  href="/courses/?course_type=all&amp;tag=all&amp;fee=all&amp;order=hotest">最热</a>
                </div>-->
                <div class="search-result"></div>
                <div class="row courses">

                    <!--课程展示-->
                    <!--<div class="col-md-4 col-sm-6  course">
                        <a class="course-box" href="show.html">
                            <div class="sign-box">
                                <i class="fa fa-star-o course-follow pull-right"
                                   data-follow-url="/courses/708/follow"
                                   data-unfollow-url="/courses/708/unfollow"  style="display:none"  ></i>
                            </div>
                            <div class="course-img">
                                <img alt="Python 3 实现 Markdown 解析器" src="https://dn-simplecloud.shiyanlou.com/1480644410422.png">
                            </div>
                            <div class="course-body">
                                <span class="course-title" data-toggle="tooltip" data-placement="bottom" title="Python 3 实现 Markdown 解析器">Python 3 实现 Markdown 解析器</span>
                            </div>
                            <div class="course-footer">
			<span class="course-per-num pull-left">
                <i class="fa fa-users"></i>
                745
			</span>
                                <span class="course-money pull-right">会员</span>
                            </div>
                        </a>
                    </div>-->


                </div>

<nav class="pagination-container">
    <ul class="pagination">
        <!--leyui分页-->
        <div id="demo1"></div>
    </ul>
</nav>


    </div>

        </div>
        <div class="col-md-3 layout-side">
            <!--右边登录-->
            <div class="panel panel-default panel-userinfo">
                <div class="panel-body body-userinfo">

                    <div class="panel panel-default panel-userinfo">
    <span th:if="${session.user}!=null">
        <div class="panel-body body-userinfo">
        <div class="media userinfo-header">
            <div class="media-left">
                <div class="user-avatar">
                     <a class="avatar" href="user/userinfo" data-toggle="modal" data-sign="signin">
                         <img class="circle" th:src="${session.user.userImg}">
                     </a>
                </div>
             </div>
            <div class="media-body">
                 <span class="media-heading username">欢迎来到实验楼</span>
                 <p class="vip-remain">做实验，学编程</p>
            </div>
        </div>
        <div class="row userinfo-data">
            <hr>
            <div class="btn-group-lr">
                <span style="margin-left: -20px">用户：<span th:text="${session.user.userName}"></span></span>&nbsp;&nbsp;&nbsp;&nbsp;
                <span>积分余额：<span th:text="${session.user.userIntegrsl}">114514</span></span>
                <!--<a href="#sign-modal" type="button" class="btn btn-success col-md-5 col-xs-6 login-btn" data-toggle="modal" data-sign="signin">登录</a>
                <a href="#sign-modal" type="button" class="btn btn-success col-md-5 col-xs-6 col-md-offset-1 register-btn" data-toggle="modal" data-sign="signup">注册</a>-->
            </div>
        </div>
    </div>
    </span>
                        <span th:if="${session.user}==null">
        <div class="panel-body body-userinfo">
        <div class="media userinfo-header">
            <div class="media-left">
                <div class="user-avatar">
                     <a class="avatar" href="user/userinfo" data-toggle="modal" data-sign="signin">
                         <img class="circle" src="/user/img/default.jpg">
                     </a>
                </div>
             </div>
            <div class="media-body">
                 <span class="media-heading username">欢迎来到zking课程</span>
                 <p class="vip-remain">做实验，学编程</p>
            </div>
        </div>
        <div class="row userinfo-data">
            <hr>
            <div class="btn-group-lr">
                <a href="#sign-modal" type="button" class="btn btn-success col-md-5 col-xs-6 login-btn" data-toggle="modal" data-sign="signin">登录</a>
                <a href="#sign-modal" type="button" class="btn btn-success col-md-5 col-xs-6 col-md-offset-1 register-btn" data-toggle="modal" data-sign="signup">注册</a>
            </div>
        </div>
    </div>
    </span>

                    </div>
                </div>

<!--右边体系-->
<div class="sidebox">
	<div class="sidebox-header">
		<h4 class="sidebox-title">快捷路径</h4>
	</div>
	<div class="sidebox-body course-content side-list-body" id="fastpath">

	</div>
</div>

<!--右边卓京公众号-->
<div class="side-image side-qrcode">
    <img src="http://www.veryedu.cn/templates/zhuojing/images/index_129.jpg">
    <div class="side-image-text">关注公众号，手机看教程</div>
</div>

        </div>
    </div>
</div>

</div>


    <div id="base-data"
        
        
            data-flash="false"
            
        
        
        data-is-login=false
        
        data-is-jwt=true
        data-socket-url="wss://comet.shiyanlou.com"
        data-msg-user=""
        data-msg-system=""
    ></div>

    <script src="/user/app/dest/lib/lib.js?=2016121272249"></script>
    <script src="/user/static/jquery/2.2.4/jquery.min.js"></script>
    <script src="/user/static/ace/1.2.5/ace.js"></script>
    <script src="/user/static/aliyun/aliyun-oss-sdk-4.3.0.min.js"></script>
    <script src="/user/static/highlight.js/9.8.0/highlight.min.js"></script>
    <script src="/user/static/jspdf/1.2.61/jspdf.min.js"></script>
    <script src="/user/static/plupload/2.1.9/js/plupload.full.min.js"></script>
    <script src="/user/static/zeroclipboard/2.2.0/ZeroClipboard.min.js"></script>
    <script src="/user/static/videojs/video.min.js"></script>
    <script src="/user/static/bootstrap-tour/0.11.0/js/bootstrap-tour.min.js"></script>
    <script src="/user/static/bootstrap-table/1.11.0/bootstrap-table.min.js"></script>
    <script src="/user/static/bootstrap-table/1.11.0/locale/bootstrap-table-zh-CN.min.js"></script>
    <script src="/user/static/bootstrap-table/1.11.0/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>
    <script src="/user/static/ravenjs/3.7.0/raven.min.js"></script>

    <!--引入LayUI js-->
    <script src="/user/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript">
        Raven.config('https://bc3878b7ed0a4468a65390bd79e6e73f@sentry.shiyanlou.com/5', {
            release: '3.12.13'
        }).install();

        //LayUI js入口
        layui.use(['laypage', 'layer'], function() {
            var laypage = layui.laypage
                , layer = layui.layer;

            //获取跳转进来的课程类别Id/课程收费状态
            var T=$("#0").attr("name");
            var f=$(".free a[name=2]").attr("title");

            //设置初始化样式
            $("#"+T).addClass("active");
            $(".free a[name="+f+"]").addClass("active");

            //调用加载课程的方法
            courses();

            //加载课程的方法
            function courses(){
                //获取选中的课程收费状态（0免费，1收费，2全部）/课程类别Id/搜索名称
                var free=$(".free .active").attr("name");
                var Tid=$(".system .active").attr("id");
                var courseName=$("input[name=post_name]").val();

                //根据收费状态/课程类别查询课程
                $.ajax({
                    type:"post",
                    url:"/courses2",
                    dataType:"json",
                    data:JSON.stringify({
                        free:free,
                        Tid:Tid,
                        courseName:courseName
                    }),
                    contentType : "application/json",//应用类型/json
                    success:function(courses){
                        //判断分类下是否有课程
                        if (courses.code==0){
                            alert("该分类下暂无课程数据");
                        }else{
                            //获取课程数据
                            var data = courses.courses;
                            //使用layui分页
                            laypage.render({
                                elem: 'demo1'
                                ,count: data.length //数据总行数
                                ,limit: 6 //每页显示多少条
                                ,jump: function(obj){
                                    //渲染页面
                                    $(".courses").html(function(){
                                        var content='',thisData = data.concat().splice(obj.curr*obj.limit - obj.limit, obj.limit);
                                        //将数据循环拼接
                                        layui.each(thisData, function(index, item){
                                            content+='<div class="col-md-4 col-sm-6  course">' +
                                                '                        <a class="course-box" href="/courseshow/'+item.course_id+'">' +
                                                '                            <div class="sign-box">' +
                                                '                                <i class="fa fa-star-o course-follow pull-right"' +
                                                '                                   data-follow-url="/courses/708/follow"' +
                                                '                                   data-unfollow-url="/courses/708/unfollow"  style="display:none"></i>' +
                                                '                            </div>' +
                                                '                            <div class="course-img">' +
                                                '                                <img alt="'+item.course_name+'" src="'+item.course_img+'">' +
                                                '                            </div>' +
                                                '                            <div class="course-body">' +
                                                '                                <span class="course-title" data-toggle="tooltip" data-placement="bottom" title="'+item.course_name+'">'+item.course_name+'</span>' +
                                                '                            </div>' +
                                                '                            <div class="course-footer">' +
                                                '<span class="course-per-num pull-left">' +
                                                '                <i class="fa fa-users"></i>' +
                                                '                '+item.course_num+'' +
                                                '</span>'
                                            //判断是收费还是免费
                                            if(item.course_free==0){
                                                content+='                                <span class="course-bootcamp pull-right">免费</span>' +
                                                    '                            </div>' +
                                                    '                        </a>' +
                                                    '                    </div>'
                                            }else{
                                                content+='                                <span class="course-money pull-right">收费</span>' +
                                                    '                            </div>' +
                                                    '                        </a>' +
                                                    '                    </div>'
                                            }

                                        });
                                        return content;
                                    });
                                }
                            });
                        }
                    },
                    error:function(){
                        aler("发生错误");
                    }
                });

            }

        });

    </script>

<div id="jinja-data"
    data-loginurl="/login"
    data-private-course-url="/courses/join"
    data-site-type="0"
    
></div>

<script src="/user/app/dest/course/index.js?=2016121272249"></script>





<!--底部-->
<div th:replace="user/footer.html :: html"></div>

</body>
</html>
