
<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Lei Shi">
    <meta http-equiv="Cache-Control" content="o-transform">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <meta name="csrf-token" content="1483780974##87f89328c5616669f00302a263fe9061bb852818">


    <title>讨论区 - 实验楼</title>




    <meta content="实验楼课程分为基础课和项目课，内容涵盖了Linux、Python、Java、C语言、Ruby、Android、IOS开发、大数据、信息安全等IT技术领域。" name="description">
    <meta content="实验楼课程,IT培训课程,IT实训课程,IT在线课程,all" name="keywords">

    <meta content="实验楼,琛石科技" name="author">

    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="/user/static/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/user/static/highlight.js/9.8.0/monokai-sublime.min.css">
    <link rel="stylesheet" href="/user/app/css/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/user/app/css/libs/katex/0.6.0/katex.min.css">
    <link rel="stylesheet" href="/user/app/css/libs/videojs/5.11.7/video-js.min.css">
    <link rel="stylesheet" href="/user/app/css/dest/styles.css?=2016121272249">
    <link rel="stylesheet" href="/user/layui/css/layui.css">
    <link rel="stylesheet" type="text/css" href="/user/styles/simditor.css" />
    <style>
        @font-face {
            font-family: "lantingxihei";
            src: url("/user/fonts/FZLTCXHJW.TTF");
        }

        /* modal 模态框*/
        #invite-user .modal-body {
            overflow: hidden;
        }
        #invite-user .modal-body .form-label {
            margin-bottom: 16px;
            font-size:14px;
        }
        #invite-user .modal-body .form-invite {
            width: 80%;
            padding: 6px 12px;
            background-color: #eeeeee;
            border: 1px solid #cccccc;
            border-radius: 5px;
            float: left;
            margin-right: 10px;
        }
        #invite-user .modal-body .msg-modal-style {
            background-color: #7dd383;
            margin-top: 10px;
            padding: 6px 0;
            text-align: center;
            width: 100%;
        }
        #invite-user .modal-body .modal-flash {
            position: absolute;
            top: 53px;
            right: 74px;
            z-index: 999;
        }
        /* end modal */

        .en-footer {
            padding: 30px;
            text-align: center;
            font-size: 14px;
        }
    </style>



</head>


<body>


<div th:replace="user/head :: html"></div>



<div class="container layout layout-margin-top" >


    <div class="row">
        <ol class="breadcrumb">
            <li><a href="/bbsIndex">讨论区</a></li>

            <li><a href="/questions/?area_type=course" th:text="${post.sort_name}"><span></span></a></li>

            <li class="active">
                <span th:text="${post.post_name}"></span>
            </li>
        </ol>

        <div class="row">
            <div class="col-md-9 layout-body">

                <div class="content question-detail">
                    <div class="question-headline">
                        <input type="hidden" value="${post.post_id}" id="bpost_ID"/>
                        <span class="question-title" th:text="${post.post_name}"> 好心人可以告诉我怎么截屏吗。。。</span>
                        <span class="question-figure">回复：<span th:text="${cORg.tcommentCountNum}"></span></span><span class="question-figure" >浏览数：<span th:text="${post.post_num}"></span></span>
                    </div>
                    <div class="question-author">


                        <div class="user-avatar ">
                            <a class="avatar" href="/user/347060" target="_blank">
                                <img th:src="${post.user_img}">
                            </a>

                        </div>


                        <div class="user-username ">
                            <a class="username" href="/user/347060" target="_blank">

                                <span th:text="${post.user_name}"></span>


                            </a>
                            <span class="user-level">L4</span>
                        </div>

                        <span>23小时前</span>

                        <span><a href="/questions/?area_type=course">课程问答</a></span>


                        <span class="question-from">来自： <a href="/questions/courses/115">熟悉实验环境 </a></span>


                        <span id="ction">
                            <span th:if="${session.user}==null">
                                <a onclick="loginT()" href="#" data-toggle="modal" data-sign="signin" class="btn btn-primary collectBtn">收藏</a>
                            </span>
                            <span th:if="${session.user}!=null">
                                <a th:if="${cORg.collection}!=yes" th:onclick="collection([[${post.post_id}]],[[1]]);" href="#" data-toggle="modal" data-sign="signin" class="btn btn-primary collectBtn">收藏</a>
                                <a th:if="${cORg.collection}==yes" th:onclick="collection([[${post.post_id}]],[[2]]);" href="#" data-toggle="modal" data-sign="signin" class="btn btn-primary collectBtn">取消收藏</a>
                            </span>
                        </span>

                        <span id="give">
                            <input type="hidden" id="giveNum" th:value="${cORg.giveNum}"/>
                            <span th:if="${session.user}==null">
                                <span><img title="点赞" src="/user/img/give1.jpg" onclick="loginT()"/><span th:text="${cORg.giveNum}"></span></span>
                            </span>
                            <span th:if="${session.user}!=null">
                                 <span th:if="${cORg.give}!=yes"><img title="点赞" src="/user/img/give1.jpg" th:onclick="gives([[${post.post_id}]],[[1]],[[${cORg.giveNum}]]);"/><span th:text="${cORg.giveNum}"></span></span>
                                <span th:if="${cORg.give}==yes"><img title="取消点赞" src="/user/img/give2.jpg" th:onclick="gives([[${post.post_id}]],[[2]],[[${cORg.giveNum}]]);"/><span th:text="${cORg.giveNum}"></span></span>
                            </span>
                        </span>

                    </div>

                    <div class="question-content markdown-body">
                        <p><span id="content" th:utext="${post.post_content}">第一段代码中，步骤三第二行的libb.a应该是libb.o，同步骤二中的一致</span></p>
                        <div class="labreport-detail-like">
                    <span class="btn btn-default btn-weiboshare">
                        <i class="fa fa-share-alt"></i>
                    </span>
                        </div>
                    </div>
                    <div class="question-answers">
                        <p class="ptilte">全部回复</p>
                        <hr/>

                        <div class="answer-item" th:each="tcos:${tcomments}">

                            <div class="answer-head">
                                <div class="user-avatar ">
                                    <a class="avatar" href="/user/212008" target="_blank">
                                        <img th:src="${tcos.user_img}">
                                    </a>
                                    <a class="member-icon" href="/vip" target="_blank">
                                        <img src="https://static.shiyanlou.com/img/vip-icon.png">
                                    </a>
                                </div>
                            </div>
                            <div class="answer-detail" >
                            <span class="comment-reply">
                                <div class="user-username ">
                                    <a class="username" href="/user/212008" target="_blank"><span th:text="${tcos.user_name}">米斯特_周</span></a>
                                    <span class="user-level">L234</span>
                                </div>
                            </span>
                                <div class="answer-content markdown-body">
                                    <div style="margin-left: 3%" ><span name="Tcontent" th:utext="${tcos.tcomment_content}"></span></div>
                                </div>
                                <div>
                                    <span class="create-time" th:text="${tcos.tcomment_time}">21小时前</span>&nbsp;&nbsp;<A href="javascript:void(0)" th:onclick="tcomment([[${tcos.tcomment_id}]],[[${tcos.user_name}]]);" style="color: #0ace9d">回复</A>&nbsp;&nbsp;<span th:id="${tcos.tcomment_id}+'9'" ><A href="javascript:void(0)"  th:onclick="showH([[${tcos.tcomment_id}]],[[${tcos.tcomment_id}+'9']],[[${tcos.count}]]);" style="color: #0ace9d">查看回复(<span th:text="${tcos.count}">20</span>)</A></span>
                                </div>
                                <!--遍历评论中的回复-->
                                <div th:id="${tcos.tcomment_id}" style="display: none">
                                    <div  th:each="users:${tcos.userTcomments}" style="margin-left: 50px;width: 650px;margin-top: 20px;">
                                        <div class="answer-head">
                                            <div class="user-avatar ">
                                                <a class="avatar" href="/user/212008" target="_blank">
                                                    <img th:src="${users.user_img}">
                                                </a>
                                                <a class="member-icon" href="/vip" target="_blank">
                                                    <img src="https://static.shiyanlou.com/img/vip-icon.png">
                                                </a>
                                            </div>
                                        </div>

                                        <span class="comment-reply">
                                        <div class="user-username ">
                                            <a class="username" href="/user/212008" target="_blank"><span th:text="${users.user_name}">米斯特_周</span></a>
                                            <span class="user-level">L234</span>
                                        </div>
                                    </span>
                                        <div class="answer-content markdown-body">
                                            <div style="margin-left: 3%" ><span th:if="${users.HuserName}!=karabo" style="color: #0ace9d;margin-left: 20px">@<span th:text="${users.HuserName}"></span></span><span name="Tcontent" th:utext="${users.tcomment_content}"></span></div>
                                        </div>
                                        <div>
                                            <span class="create-time" th:text="${users.tcomment_time}">21小时前</span>&nbsp;&nbsp;<A th:id="${users.tcomment_id}" href="javascript:void(0)" th:onclick="tcomment([[${users.tcomment_id}]],[[${users.user_name}]]);" style="color: #0ace9d">回复</A>
                                        </div>
                                    </div>
                                    <hr/>
                                </div>
                            </div>
                        </div>
                        <div id="pagek"></div>

                        <div class="answer-item">
                            <div class="answer-head">
                            </div>
                            <div class="answer-detail">
                                <div class="answer-content markdown-body"></div>
                                <div></div>
                            </div>
                        </div>

                    </div>
                    <div class="your-answer words-ctrl">
                   <span th:if="${session.user}==null">
                        <p style="text-align: center;font-weight: 300; font-size: 18px;">
                            <a href="#sign-modal" data-toggle="modal" data-sign="signin" data-next="/questions/8641" style="color: #0ace9d">登录</a>后回复帖子
                        </p>
                    </span>
                    <span style="width: 900px" th:if="${session.user}!=null">
                        <form class="layui-form" id="form1">
                            <textarea lay-verify="required" id="tcomment" name="content" placeholder="请勿发布、传播、储存违反国家法律法规帖子" autofocus></textarea>
                            <button type="button" lay-submit lay-filter="come" class="layui-btn">提交回复</button>
                            <input type="hidden" name="postID" id="postID" th:value="${post.post_id}">
                        </form>
                        <form class="layui-form" id="form2" style="display: none;"><!--回复评论表单-->
                            <textarea lay-verify="required" id="tcomment2" name="content2" placeholder="请勿发布、传播、储存违反国家法律法规帖子" autofocus></textarea>
                            <span id="userTconmment"><button type="button" lay-submit lay-filter="come2" class="layui-btn">提交回复</button></span>
                            <button type="button" class="layui-btn" onclick="f1orf2()">取消回复该条评论</button>
                        </form>
                   </span>

                    </div>
                </div>

            </div>
        <div class="col-md-3 layout-side">
            <!--左边替换-->
            <a th:if="${session.user}!=null" class="btn side-btn" href="/post" data-toggle="modal" data-sign="signin">我要发帖</a>
            <a th:if="${session.user}==null" class="btn side-btn" href="javascript:void(0)" onclick="loginT()" data-toggle="modal" data-sign="signin">我要发帖</a>

            <div class="panel panel-default panel-userinfo">
    <span th:if="${session.user}!=null">
        <div class="panel-body body-userinfo">
        <div class="media userinfo-header">
            <div class="media-left">
                <div class="user-avatar">
                     <a class="avatar" href="user/userinfo" data-toggle="modal" data-sign="signin">
                         <img class="circle" th:src="${session.user.userImg}">
                     </a>
                </div>
             </div>
            <div class="media-body">
                 <span class="media-heading username">欢迎来到实验楼</span>
                 <p class="vip-remain">做实验，学编程</p>
            </div>
        </div>
        <div class="row userinfo-data">
            <hr>
            <div class="btn-group-lr">
                <span style="margin-left: -20px">用户：<span th:text="${session.user.userName}"></span></span>&nbsp;&nbsp;&nbsp;&nbsp;
                <span>积分余额：<span th:text="${session.user.userIntegrsl}">114514</span></span>
                <!--<a href="#sign-modal" type="button" class="btn btn-success col-md-5 col-xs-6 login-btn" data-toggle="modal" data-sign="signin">登录</a>
                <a href="#sign-modal" type="button" class="btn btn-success col-md-5 col-xs-6 col-md-offset-1 register-btn" data-toggle="modal" data-sign="signup">注册</a>-->
            </div>
        </div>
    </div>
    </span>
                <span th:if="${session.user}==null">
        <div class="panel-body body-userinfo">
        <div class="media userinfo-header">
            <div class="media-left">
                <div class="user-avatar">
                     <a class="avatar" href="user/userinfo" data-toggle="modal" data-sign="signin">
                         <img class="circle" src="/user/img/default.jpg">
                     </a>
                </div>
             </div>
            <div class="media-body">
                 <span class="media-heading username">欢迎来到实验楼</span>
                 <p class="vip-remain">做实验，学编程</p>
            </div>
        </div>
        <div class="row userinfo-data">
            <hr>
            <div class="btn-group-lr">
                <a href="#sign-modal" type="button" class="btn btn-success col-md-5 col-xs-6 login-btn" data-toggle="modal" data-sign="signin">登录</a>
                <a href="#sign-modal" type="button" class="btn btn-success col-md-5 col-xs-6 col-md-offset-1 register-btn" data-toggle="modal" data-sign="signup">注册</a>
            </div>
        </div>
    </div>
    </span>

            </div>
            <!--左边结束-->


            <div class="sidebox">

                <div class="sidebox-header">
                    <h4 class="sidebox-title">最热路径</h4>
                </div>
                <div class="sidebox-body course-content side-list-body" id="fastpath">

                </div>

            </div>

            <div class="side-image side-qrcode">
                <img src="/user/img/ShiyanlouQRCode.png">
                <div class="side-image-text">关注公众号，手机看教程</div>
            </div>

            <div class="sidebox side-list">
                <div class="sidebox-header">
                    <h4 class="sidebox-title">常见问题</h4>
                </div>
                <div class="sidebox-body side-list-body">
                    <a href="/questions/80" target="_blank">实验操作很卡怎么办？</a>
                    <a href="/questions/91" target="_blank">为什么连不上实验桌面？</a>
                    <a href="/questions/360" target="_blank">"我的代码库"如何用？</a>
                    <a href="/questions/92" target="_blank">实验楼环境默认用户及密码？</a>
                    <a href="/questions/235" target="_blank">环境中是否可以联网？</a>
                </div>
                <div class="sidebox-footer">
                    <div class="pull-right"><a href="/questions/?tag=%E5%B8%B8%E8%A7%81%E9%97%AE%E9%A2%98" target="_blank">查看全部</a></div>
                </div>
            </div>


        </div>
    </div>
</div>


<div class="modal fade" id="invite-user" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">邀请好友，双方都可获赠实验豆！</h4>
            </div>
            <div class="modal-body">

                <p><h4><a href="#sign-modal" data-toggle="modal" data-sign="signin">登录</a>后邀请好友注册，您和好友将分别获赠3个实验豆！</h4></p>

                <div id="msg-modal"></div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="flash-message" tabindex="-1" role="dialog">
    <div class="modal-dialog" rolw="document">
    </div>
</div>
<div class="modal fade" id="modal-message" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">注意</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary confirm" data-dismiss="modal">确定</button>
            </div>
        </div>
    </div>
</div>




<div class="modal fade askquestion-modal" id="askquestion" tabindex="-1" role="dialog">
    <div class="modal-dialog" role=document>
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">发帖</h4>
            </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="submit-question btn btn-primary" data-dismiss="modal">提交</button>
            </div>
        </div>
    </div>
</div>






<div id="base-data"


     data-flash="false"



     data-is-login=false

     data-is-jwt=true
     data-socket-url="wss://comet.shiyanlou.com"
     data-msg-user=""
     data-msg-system=""
></div>
<input id="countNum" type="hidden" th:value="${cORg.countNum}">
<input id="pagePost_id" type="hidden" th:value="${post.post_id}">

<script src="/user/app/dest/lib/lib.js?=2016121272249"></script>
<script src="/user/static/jquery/2.2.4/jquery.min.js"></script>
<script src="/user/static/ace/1.2.5/ace.js"></script>
<script src="/user/static/aliyun/aliyun-oss-sdk-4.3.0.min.js"></script>
<script src="/user/static/highlight.js/9.8.0/highlight.min.js"></script>
<script src="/user/static/jspdf/1.2.61/jspdf.min.js"></script>
<script src="/user/static/plupload/2.1.9/js/plupload.full.min.js"></script>
<script src="/user/static/zeroclipboard/2.2.0/ZeroClipboard.min.js"></script>
<script src="/user/static/videojs/video.min.js"></script>
<script src="/user/static/bootstrap-tour/0.11.0/js/bootstrap-tour.min.js"></script>
<script src="/user/static/bootstrap-table/1.11.0/bootstrap-table.min.js"></script>
<script src="/user/static/bootstrap-table/1.11.0/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="/user/static/bootstrap-table/1.11.0/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>

<script src="/user/static/ravenjs/3.7.0/raven.min.js"></script>


    <script type="text/javascript" src="/user/layui/layui.js"></script>
    <script type="text/javascript" src="/user/scripts/jquery.min.js"></script>
    <script type="text/javascript" src="/user/scripts/module.js"></script>
    <script type="text/javascript" src="/user/scripts/hotkeys.js"></script>
    <script type="text/javascript" src="/user/scripts/uploader.js"></script>
    <script type="text/javascript" src="/user/scripts/simditor.js"></script>
    <script type="text/javascript" src="/user/tcomment.js"></script>

<script>
    Raven.config('https://bc3878b7ed0a4468a65390bd79e6e73f@sentry.shiyanlou.com/5', {
        release: '3.12.13'
    }).install();
</script>
<script>
    function checkBbs(post_id) {
        location.href='/checkBbs?post_id='+post_id;
    }
</script>

<div id="jinja-data"

     data-question-form="/questions/meta"
     data-is-authenticated="false"
     data-login-url="/login?next=%2Fquestions%2F"
     data-qiniu-token-url="/api/qiniu/token"
     data-userid=""
></div>

<script src="/user/app/dest/question/index.js?=2016121272249"></script>
<script src="/user/layui/layui.js"></script>


<!--底部-->
<div th:replace="user/footer.html :: html"></div>



<script>
    function loginT() {
        layui.use('layer',function () {
            var layer = layui.layer;
            layer.msg('请登录后再操作',{time:1600});
        });
    }
</script>
</body>
</html>
