<!DOCTYPE html>
<!--suppress ALL-->
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="author" content="Lei Shi">
		<meta http-equiv="Cache-Control" content="o-transform">
		<meta http-equiv="Cache-Control" content="no-siteapp">
		<meta name="csrf-token" content="1483780974##87f89328c5616669f00302a263fe9061bb852818">
		<title>个人中心</title>
		<meta content="实验楼课程分为基础课和项目课，内容涵盖了Linux、Python、Java、C语言、Ruby、Android、IOS开发、大数据、信息安全等IT技术领域。" name="description">
		<meta content="实验楼课程,IT培训课程,IT实训课程,IT在线课程,all" name="keywords">
		<meta content="实验楼,琛石科技" name="author">

		<link rel="shortcut icon" href="favicon.ico">
		<link rel="stylesheet" href="/user/static/font-awesome//4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="/user/static/highlight.js/9.8.0/monokai-sublime.min.css">
		<link rel="stylesheet" href="/user/app/css/libs/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="/user/app/css/libs/katex/0.6.0/katex.min.css">
		<link rel="stylesheet" href="/user/app/css/libs/videojs/5.11.7/video-js.min.css">
		<link rel="stylesheet" href="/user/app/css/dest/styles.css?=2016121272249">
        <link rel="stylesheet" href="/user/layui/css/layui.css">
        <link rel="stylesheet" href="/admin/lib/layui/css/layui.css">

		<style>
		@font-face {
			font-family: "lantingxihei";
			src: url("/user/fonts/FZLTCXHJW.TTF");
		}

        /* modal 模态框*/
        #invite-user .modal-body {
            overflow: hidden;
        }
		#invite-user .modal-body .form-label {
			margin-bottom: 16px;
			font-size:14px;
		}
		#invite-user .modal-body .form-invite {
			width: 80%;
			padding: 6px 12px;
			background-color: #eeeeee;
			border: 1px solid #cccccc;
			border-radius: 5px;
			float: left;
			margin-right: 10px;
		}
		#invite-user .modal-body .msg-modal-style {
			background-color: #7dd383;
			margin-top: 10px;
			padding: 6px 0;
			text-align: center;
			width: 100%;
		}
		#invite-user .modal-body .modal-flash {
			position: absolute;
			top: 53px;
			right: 74px;
			z-index: 999;
		}
		/* end modal */

        .en-footer {
            padding: 30px;
            text-align: center;
            font-size: 14px;
        }
    </style>

<style>
	a:hover,
    a:focus {
        text-decoration: none;
    }
    span.label {
        display: inline-block;
        margin: 10px 3px 16px 3px;
        padding: 6px 16px;
        border: none;
        font-size: 14px;
        font-weight: 100;
    }
    span.label-default {
        color: #999;
        background: none;
    }
    span.label-success {
        color: #0c9;
        background: #E7F8F2;
    }
    .userinfo-banner [data-toggle="tooltip"] {
        display: inline-block;
        border-bottom: dashed 1px #999;;
        color: #999 !important;
    }
	.certificate-item {
		padding-top: 10px;
	}
	.certificate-item a {
		color: #444;
	}
</style>
	</head>
	<body onload="page()">
		<nav class="navbar navbar-default navbar-fixed-top header">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-navbar-collapse"
					 aria-expanded="false">
						<span class="sr-only">实验楼</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/user/index.html">
						<img src="/user/img/logo_03.png">
					</a>
				</div>
				<div class="collapse navbar-collapse" id="header-navbar-collapse">
					<ul class="nav navbar-nav">
						<li class="dropdown active">
							<a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
								课程
								<span class="caret"></span>
							</a>
							<ul class="dropdown-menu">
								<li><a class="active" href="/user/courses/index.html">全部课程</a></li>
								<li><a class="" href="/user/courses/index.html?status=preview">即将上线</a></li>
								<li><a class="" href="/user/developer/index.html">开发者</a></li>
							</ul>
						</li>
						<li class="">
							<a href="/user/paths/index.html">路径</a>
						</li>
						<li class="">
							<a href="/user/questions/index.html">讨论区</a>
						</li>
						<li class=" bootcamp new-nav logo-1111">
							<a href="/user/bootcamp/index.html">训练营</a>
						</li>
						<li class=" new-nav logo-1111">
							<a href="/user/vip/index.html">会员</a>
						</li>
					</ul>

					<div class="navbar-right btns" style="margin: 12px;">
						<img src="/user/img/weixin.png"class="img-circle img-responsive" style="width:30px;height: 30px; display: inline" >
						<span style="color: white;">12345@qq.com</span>
					</div>

					<form class="navbar-form navbar-right" action="/user/search" method="get" role="search">
						<div class="form-group">
							<input type="text" class="form-control" name="search" autocomplete="off" placeholder="搜索 课程/问答">
						</div>
					</form>
				</div>
			</div>
		</nav>

		<div class="userinfo-banner layout-no-margin-top">
			<div class="container layout">
				<div class="row">
					<div class="col-md-9 clearfix">
						<div class="pull-left userinfo-banner-avatar">
							<div class="user-avatar ">
								<a class="avatar" href="#" target="_blank">
									<img th:src="${session.user.userImg}">
								</a>
								<a class="member-icon" href="#" target="_blank">
									<img src=" /user/img/vip-icon.png">
								</a>
							</div>
						</div>
				
						<div class="pull-left userinfo-banner-details">
							<div class="userinfo-banner-meta">
								<div class="userinfo-banner-status ">
                                    用户名：<span th:text="${session.user.userName}"></span>
								</div>
							</div>
							<div class="userinfo-banner-status">

							</div>
							<div class="userinfo-banner-status">
									<span>积分:</span>
									<strong><span th:text="${session.user.userIntegrsl}"></span></strong>
							</div>
						</div>
					</div>

					<div class="col-md-3 userinfo-banner-labinfo">
						<div class="userinfo-banner-level">
							<img src="/user/img/lou-level.png">
							<div class="userinfo-current-level"><span>195</span> 楼</div>
							<div class="userinfo-level-more" data-toggle="tooltip" data-placement="bottom" title="在实验环境中动手输入代码或命令时才计入有效学习时间">
								距 196 楼还需 16 分钟有效学习时间
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container layout">
			<div class="row">
				<div class="col-md-1 layout-side" >
					<ul class="list-group">
						<div class="text-center" style="width: 90px">
							<a href="#get1" class="list-group-item" id="zhongxin"><span style="font-weight:bold">个人中心</span></a>
							<a href="#get2" class="list-group-item" id="kecheng"><span style="font-weight:bold">我的课程</span></a>
							<a href="#get3" class="list-group-item" id="huida"><span style="font-weight:bold">我的帖子</span></a>
							<a href="#get4" class="list-group-item" id="shoucang"><span style="font-weight:bold">我的收藏</span></a>
							<a href="#get5" class="list-group-item" id="xiaoxi"><span style="font-weight:bold">消息中心</span></a>
							<!--<a href="#get6" class="list-group-item" id="xinxi"><span style="font-weight:bold">个人信息</span></a>-->
							<!--<a href="#get7" class="list-group-item" id="haoyou"><span style="font-weight:bold">邀请好友</span></a>-->
							<a href="#get8" class="list-group-item" id="chongzhi"><span style="font-weight:bold">会员充值</span></a>
						</div>
					</ul>
					<!--<ul class="list-group">-->
						<!--<div class="text-center">-->
							<!--<a href="#get6" class="list-group-item" id="xinxi">个人信息</a>-->
							<!--<a href="#get7" class="list-group-item" id="haoyou">邀请好友</a>-->
							<!--<a href="#get8" class="list-group-item" id="chongzhi">会员充值</a>-->
						<!--</div>-->
					<!--</ul>-->
				</div>
				<div class="col-md-11 layout-body " id="get1">
							<div class="content" role="tabpanel" >
								<ul class="nav nav-tabs" rolw="tablist" id="nav">
									<li role="presentation" class="active">
										<a href="#yi" class="active">基本信息</a>
									</li>
									<li role="presentation">
										<a href="#er" >修改密码</a>
									</li>
									<li role="presentation">
										<a href="#san">我的课程</a>
									</li>
									<li role="presentation">
										<a href="#si">我的订单</a>
									</li>
									<li role="presentation">
										<a href="#wu">我的充值记录</a>
									</li>
									<li role="presentation">
										<a href="#liu">我的账单</a>
									</li>
								</ul>
								
								<div class="tab-content">
									<div id="yi" class="tab-pane fade in active" style="height: 300px;">
										<form method="post" class="form-horizontal" enctype="multipart/form-data" id="formImage" action="/fileUploadPage">
                                              <div class="form-group">
                                                <label  class="col-xs-4 control-label">头像:</label>
                                                <div class="col-sm-3">
                                                  <input type="file" id="uploadImage" name="file" style="display: none" onchange="updateImage()"/>

                                                  <img id="imgtx" onclick="imgUpload()" title="点击更换头像" th:src="${session.user.userImg}" style="height: 80px;width: 80px;margin-left: 70px" class="layui-nav-img">
                                                </div>
                                              </div>
                                              <div class="form-group">
                                                <label for="inputName" class="col-xs-4 control-label">昵称：</label>
                                                <div class="col-xs-3">
                                                    <!--<label type="text"  class="form-control" id="inputName" value="颜值帅">颜值帅</label>-->
                                                    <label type="text"  class="form-control" id="inputName"  ><span id="uname" th:text="${session.user.userName}"></span></label>
                                                </div>
                                              </div>
                                              <div class="form-group">
                                                <label  class="col-xs-4 control-label">手机号：</label>
                                                <div class="col-xs-3">
                                                    <!--<label type="text"  class="form-control"  value="颜值帅"><span>15296009413</span></label>-->
                                                   <label type="text"  class="form-control"  ><span id="uphone" th:text="${session.user.userPhone}">15296009413</span></label>
                                                </div>
                                              </div>
                                              <div class="form-group">
                                                <label  class="col-xs-4 control-label">邮箱</label>
                                                <div class="col-xs-3">
                                                    <label title="点击绑定邮箱" onclick="updateEmail('绑定邮箱')" style="cursor: pointer;" th:if="${session.user.userEmail}==null" type="text"  class="form-control"  value="颜值帅">未绑定邮箱</label>
                                                    <input id="checkEmail" type="hidden" th:value="${session.user.userEmail}"/>
                                                   <!-- <label type="text"  class="form-control"  value="颜值帅">1647799067@qq.com</label>-->
                                                    <label th:if="${session.user.userEmail}!=null" type="text"  class="form-control" ><span id="uemail" th:text="${session.user.userEmail}">1647799067@qq.com</span></label>
                                                </div>
                                              </div>

                                              <div class="form-group">
                                                <div class="col-xs-offset-4 col-xs-9">
                                                    <label>
                                                      注:完善信息方便找回密码，账号更安全。
                                                    </label>
                                                </div>
                                              </div>
                                              <div class="form-group">
                                                <div class="col-xs-offset-5 col-xs-9">
                                                  <button  onclick="setData()" type="button" class="btn btn-default">编辑资料</button>
                                                </div>
                                              </div>
										</form>
									</div>
									<div id="er" class="tab-pane fade" style="height: 300px;">
										<form class="form-horizontal">
											  <!--<div class="form-group">
												<label  class="col-xs-4 control-label">原密码</label>
												<div class="col-sm-3">
												  <input type="email" class="form-control" id="inputEmail1" placeholder="原密码">
												</div>
											  </div>-->
											  <div class="form-group">
												<label for="inputPassword3" class="col-xs-4 control-label">新密码</label>
												<div class="col-xs-3">
												  <input onblur="newPwd()" type="password" class="form-control" id="inputPassword2" placeholder="新密码">
												</div>
											  </div>
											  <div class="form-group">
												<label for="inputPassword3" class="col-xs-4 control-label">确认密码</label>
												<div class="col-xs-3">
												  <input onblur="newPwd2()" type="password" class="form-control" id="inputPassword3" placeholder="确认密码">
												</div>
											  </div>
											  <div class="form-group">
												<div class="col-xs-offset-5 col-xs-9">
												  <button type="button" onclick="subPwd()" class="btn btn-default">修改</button>
												</div>
											  </div>
										</form>
									</div>
                                    <!--我的课程-->
									<div id="san" class="tab-pane fade" style="height: 300px;">
                                        <div class="row" id="courseRow">

                                        </div>
                                        <div id="demoCourse" align="center"></div>
                                    </div>
                                    <!--我的订单-->
                                    <div id="si" class="tab-pane fade" style="height: 300px;">
                                        <table class="table table-hover" id="orderTable" style="height: 150px">
                                            <caption>我的订单</caption>
                                            <thead>
                                            <tr>
                                                <th>订单号</th>
                                                <th>订单名称</th>
                                                <th>订单积分</th>
                                                <th>订单时间</th>
                                            </tr>
                                            </thead>
                                            <tbody id="orderTbody">

                                            </tbody>
                                        </table>
                                        <div id="demo2" align="center"></div>
                                    </div>
                                    <!--我的充值-->
                                    <div id="wu" class="tab-pane fade" style="height: 300px;">
                                        <table class="table table-hover" id="chargeTable" style="height: 150px">
                                            <caption>充值记录</caption>
                                            <thead>
                                            <tr>
                                                <th>充值金额</th>
                                                <th>所得积分</th>
                                                <th>充值时间</th>
                                            </tr>
                                            </thead>
                                            <tbody id="chargeTbody">

                                            </tbody>
                                        </table>
                                        <div id="demo3" align="center"></div>
                                    </div>
                                    <!--我的账单-->
                                    <div id="liu" class="tab-pane fade" style="height: 300px;">
                                        <table class="table table-hover" id="billTable" style="height: 150px">
                                            <caption>账单记录</caption>
                                            <thead>
                                            <tr>
                                                <th>账单内容</th>
                                                <th>积分</th>
                                                <th>类型</th>
                                                <th>账单时间</th>
                                            </tr>
                                            </thead>
                                            <tbody id="billTbody">

                                            </tbody>
                                        </table>
                                        <div id="demo4" align="center"></div>
                                    </div>
								</div>
							</div>
				</div>
				
					
					<div class="col-md-11 layout-body" id="get2" >
						<div class="content" style="height: 600px;">
							<h3>我的课程</h3>						
						</div>
					</div>
					<div class="col-md-11 layout-body" id="get3" >
						<div class="content" style="height: 600px;">
							<h3>我的帖子</h3>
                            <div id="pageTest" th:fragment="pageTest">
                                <ul th:each="item:${upost}" class="flow-default" style="margin-top: 15px;height: 90px;list-style:none;border-bottom:1px solid rgba(59,126,255,0.28);" id="Linddd" >
                                    <li style="height: 80px;">
                                           <img th:src="${item.user_img}" style="width: 50px;height: 50px" class="layui-nav-img"><p></p>

                                            <span style="margin-left: 10px" th:text="${item.user_name}"></span>

                                            <div style="margin-left: 10%;margin-top: -50px"><div><h3><span th:onclick="checkBbs([[${item.post_id1}]])" style="cursor:pointer" th:text="${item.post_name}"></span></h3></div>
                                                    评论数：<span th:text="${item.commentCount}"></span><span style="margin-left: 60px">发帖时间：<span th:text="${item.post_time}"></span></span><A href="javascript:void(0)" th:onclick="deletePost([[${item.post_id1}]])" style="margin-left: 10%;color: #0ace9d" >删除</span></A>
                                            </div>
                                            <button style="margin-left: 80%;margin-top: -40px" disabled="disabled" class="layui-btn layui-btn-warm"><span th:text="${item.sort_name}"></span></button>
                                    </li>
                                </ul>
                                <input type="hidden" id="countPage" th:value="${countPage}"/>
                            </div>
                            <div id="page"></div>
						</div>
					</div>
					<div class="col-md-11 layout-body" id="get4" >
						<div class="content" style="height: 600px;">
                            <h3>我的收藏</h3> <A href="javascript:void(0)" style="color: #0ace9d">课程</A> <A onclick="post_collection()" href="javascript:void(0)" style="color: #0ace9d">帖子</A>
                            <div id="collection">
                                <ul class="flow-default" style="margin-top: 15px;height: 70px;list-style:none;border-bottom:1px solid rgba(59,126,255,0.28);"  >
                                    <li style="height: 80px;">
                                        <!--用户头像-->
                                        <img src="/user/img/default.jpg" style="width: 50px;height: 50px" class="layui-nav-img"><p></p>
                                        <!--用户名-->
                                        <span style="margin-left: 10px" text="野兽前辈"></span>
                                       <!--帖子标题-->
                                       <div style="margin-left: 10%;margin-top: -50px"><div><h3><span onclick=""  style="cursor:pointer">看招！！！昏睡红茶！！！</span></h3></div>
                                                评论数：<span>123</span>
                                            </div>
                                        <button style="margin-left: 80%;margin-top: -60px" disabled="disabled" class="layui-btn layui-btn-warm"><span>取消收藏</span></button>
                                    </li>
                                </ul>
                            </div>
                            <div id="collectionPage"></div>
						</div>
					</div>


					<div class="col-md-11 layout-body" id="get5" >
						<div class="content" style="height: 600px;">
							<h3>消息中心</h3>
                            <!--数据位置-->
                            <div id="message"></div>
                        </div>
                        <!--分页位置-->
                        <div id="page5" align="center"></div>
						</div>
					</div>





					<div class="col-md-11 layout-body" id="get8" style="margin-top: -262px;margin-left: 81px">
						<div class="content" style="height: 300px;">
							<h3>会员充值</h3>
							<form style="margin-left: 100px;" id="formid" action="/pay">
								<div class="form-group">
									<label for="money" style="font-size: 16px;">充值金额</label>
									<input type="text" style="width: 200px;" name="totalAmount" onkeyup="value=value.replace(/[^\d]/g, '')"  required ="required" class="form-control" id="money" placeholder="10元起充,最大不超过9999">
								</div>
								<div class="form-group">
									<label for="integral" style="font-size: 16px;">充值积分</label>
									<input type="text" style="width: 200px;" name="body" class="form-control" readonly="readonly" id="integral" placeholder="积分">
								</div>
								<button id="czjf" class="btn btn-default">充值</button>
							</form>

						</div>
					</div>
				
			</div>
		</div>
		

		<div class="modal fade" id="message-modal" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
						<h4 class="modal-title">发送消息给 石头山</h4>
					</div>
					<div class="modal-body">
						<textarea style="width:100%; min-height:100px; max-width:100%;"></textarea>
					</div>
					<div class="modal-footer">
						<button class="btn btn-default" data-dismiss="modal">取消</button>
						<button class="btn btn-primary send-btn">发送</button>
					</div>
				</div>
			</div>
		</div>

		<script src="/user/app/dest/lib/lib.js?=2016121272249"></script>
		<script src="/user/static/jquery/2.2.4/jquery.min.js"></script>
		<script src="/user/static/ace/1.2.5/ace.js"></script>
		<script src="/user/static/aliyun/aliyun-oss-sdk-4.3.0.min.js"></script>
		<script src="/user/static/highlight.js/9.8.0/highlight.min.js"></script>
		<script src="/user/static/jspdf/1.2.61/jspdf.min.js"></script>
		<script src="/user/static/plupload/2.1.9/js/plupload.full.min.js"></script>
		<script src="/user/static/zeroclipboard/2.2.0/ZeroClipboard.min.js"></script>
		<script src="/user/static/videojs/video.min.js"></script>
		<script src="/user/static/bootstrap-tour/0.11.0/js/bootstrap-tour.min.js"></script>
		<script src="/user/static/bootstrap-table/1.11.0/bootstrap-table.min.js"></script>
		<script src="/user/static/bootstrap-table/1.11.0/locale/bootstrap-table-zh-CN.min.js"></script>
		<script src="/user/static/bootstrap-table/1.11.0/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>

		<script src="/user/static/ravenjs/3.7.0/raven.min.js"></script>
        <script src="/admin/lib/layui/layui.js"></script>
		<!--likai js-->
        <script src="/admin/js/billTable.js"></script>
        <script src="/admin/js/chargeTable.js"></script>
        <script src="/admin/js/orderTable.js"></script>
		<script>
			Raven.config('https://bc3878b7ed0a4468a65390bd79e6e73f@sentry.shiyanlou.com/5', {
				release: '3.12.13'
			}).install();

			/*获取充值金额数据*/
			$("#money").blur(function () {
				$("#integral").val($("#money").val()*10)
			})

			
			/* 标签页 */
			$("#nav a").click(function(e){
				e.preventDefault(); //阻止a标签的跳转
				$(this).tab("show"); //展示相对应的内容
			})
			$(function(){
				$("#yi").tab("show");
			})
			
			/* 控制标签跳转 */
				$("#get2").hide();
				$("#get3").hide();
				$("#get4").hide();
				$("#get5").hide();
				$("#get6").hide();
				$("#get7").hide();
				$("#get8").hide();
				$("#kecheng").click(function(){
					$("#get1").hide();
					$("#get3").hide();
					$("#get4").hide();
					$("#get5").hide();
					$("#get6").hide();
					$("#get7").hide();
					$("#get8").hide();
					
					$("#get2").show();
				});
				$("#zhongxin").click(function(){
					$("#get2").hide();
					$("#get1").show();
					$("#get3").hide();
					$("#get4").hide();
					$("#get5").hide();
					$("#get6").hide();
					$("#get7").hide();
					$("#get8").hide();
				});
				$("#huida").click(function(){
					$("#get2").hide();
					$("#get3").show();
					$("#get1").hide();
					$("#get4").hide();
					$("#get5").hide();
					$("#get6").hide();
					$("#get7").hide();
					$("#get8").hide();
				});
				$("#shoucang").click(function(){
					$("#get2").hide();
					$("#get4").show();
					$("#get1").hide();
					$("#get3").hide();
					$("#get5").hide();
					$("#get6").hide();
					$("#get7").hide();
					$("#get8").hide();
				});
				$("#xiaoxi").click(function(){
					$("#get2").hide();
					$("#get5").show();
					$("#get1").hide();
					$("#get3").hide();
					$("#get4").hide();
					$("#get6").hide();
					$("#get7").hide();
					$("#get8").hide();
				});
				$("#xinxi").click(function(){
					$("#get2").hide();
					$("#get6").show();
					$("#get1").hide();
					$("#get3").hide();
					$("#get4").hide();
					$("#get5").hide();
					$("#get7").hide();
					$("#get8").hide();
				});
				$("#haoyou").click(function(){
					$("#get2").hide();
					$("#get7").show();
					$("#get1").hide();
					$("#get3").hide();
					$("#get4").hide();
					$("#get5").hide();
					$("#get6").hide();
					$("#get8").hide();
				});
				$("#chongzhi").click(function(){
					$("#get2").hide();
					$("#get8").show();
					$("#get1").hide();
					$("#get3").hide();
					$("#get4").hide();
					$("#get5").hide();
					$("#get6").hide();
					$("#get7").hide();
				});
		</script>

		<script src="/user/app/dest/user/index.js?=2016121272249"></script>
        <script src="/user/layui/layui.js"></script>
        <!--用户发帖管理分页-->
        <script>
            function page(){
                layui.use('laypage',function () {
                    var laypage = layui.laypage;
                    var page = laypage.render({
                        elem: 'page'
                        ,count:$('#countPage').val()
                        ,limit:5
                        ,limits:[5,10,15,20,25]
                        ,layout: ['count', 'prev', 'page', 'next', 'limit', 'refresh', 'skip']
                        ,jump: function(obj){
                           /* console.log(obj.curr); //得到当前页，以便向服务端请求对应页的数据。
                            console.log(obj.limit); //得到每页显示的条数
                            console.log(obj);*/
                            $.ajax({
                                url:'/user/pageMyPost',
                                type:'post',
                                data:{
                                    page:obj.curr,
                                    size:obj.limit
                                },
                                success:function(data){
                                    $('#pageTest').html(data);
                                },
                                error:function(){
                                    console.log('lay分页错误Error')
                                }
                            });

                        }
                    });
                });
            }
                function checkBbs(post_id) {
                    location.href='/checkBbs?post_id='+post_id;
                }

                function deletePost(post_id) {
                    layui.use('layer',function(){
                        layer.confirm('确认删除该帖子吗？',function () {
                            $.ajax({
                                url:'/banPost',
                                type:'post',
                                data:{
                                    post_id:post_id,
                                    type:1
                                },
                                success:function (data) {
                                    if(data=='1'){
                                        layer.msg('删除成功',{time:1600});
                                        $.ajax({
                                            url:'/user/pageMyPost',
                                            type:'post',
                                            data:{
                                                page:1,
                                                size:5
                                            },
                                            success:function(data){
                                                $('#pageTest').html(data);
                                                page();
                                            },
                                            error:function(){
                                                console.log('lay分页错误Error')
                                            }
                                        });
                                    }else{
                                        layer.msg('删除失败',{time:1600});
                                    }
                                },
                                error:function(){
                                    console.log('用户删贴Error')
                                }
                            });
                        })
                    });
                }
        </script>


        <!--likai   js-->
        <script>
            $(function () {
                /*
                *           我的课程   userinfo.html
                * */
                //方法二则直接使分用layui-v2.0.2里面的页功能，没有用到core.js里面的方法
                layui.use(['layer','laypage','flow'], function(){
                    var layer = layui.layer;
                    var laypage = layui.laypage;
                    var $ = layui.jquery; //不用额外加载jQuery，flow模块本身是有依赖jQuery的，直接用即可。
                    var flow = layui.flow;
                    var config = {page:1,pageSize:3};
                    var url = "/user/Mycourses";
                    $.getJSON(url,config,function(res){
                        laypage.render({
                            elem: 'demoCourse',//必须放id
                            count: 100,
                            first: '首页',
                            last: '尾页',
                            count: res.count, //总条数
                            limit:config.pageSize, //每页条数
                            theme: '#FFB800', //自定义颜色
                            jump: function(obj, first){
                                //alert(obj.curr)
                                if(!first){ //首次则不进入
                                    config.page = obj.curr;
                                    getMyCourseByPage(url,config)
                                }
                            }
                        });
                        parseMyCourse(res,config.page);
                    });
                });
                //点击页数从后台获取数据
                function getMyCourseByPage(url,config){
                    $.getJSON(url,config,function(res){
                        parseMyCourse(res,config.page);
                    });
                }

                //解析数据，currPage参数为预留参数，当删除一行刷新列表时，可以记住当前页而不至于显示到首页去
                function parseMyCourse(res,currPage){
                    var html = "";
                    $.each(res.data,function (i,o) {

                        if(res.length!=0){
                            html +=
                                '<div class="col-md-4 col-sm-6  course">' +
                                '<a class="course-box" href="/courseshow/'+o.courseID+'">' +
                                ' <div class="sign-box">' +
                                '<i class="fa fa-star-o course-follow pull-right"' +
                                'data-follow-url="/courses/75/follow"' +
                                'data-unfollow-url="/courses/75/unfollow" style="display:none" ></i>' +
                                '</div>' +
                                '<div class="course-img">' +
                                '<img alt="'+o.courseName+'" src="'+o.courseImg+'">' +
                                '</div>' +
                                '<div class="course-body">' +
                                '<span class="course-title" data-toggle="tooltip" data-placement="bottom" title="'+o.courseName+'">'+o.courseName+'</span>' +
                                '</div>' +
                                '<div class="course-footer">' +
                                '</div>' +
                                '</a>' +
                                '</div>'
                        }
                        else{
                            html+="<h1>您还未购买课程！</h1>";
                        }
                    });
                    $("#courseRow").html(html);
                }

                /**
                 * 消息中心的模块
                 */
                $("#xiaoxi").click(function () {
                    layui.use(['layer','laypage','flow'], function() {
                        var layer = layui.layer;
                        var laypage = layui.laypage;
                        var $ = layui.jquery; //不用额外加载jQuery，flow模块本身是有依赖jQuery的，直接用即可。
                        var flow = layui.flow;
                        flow.load({
                            elem: '#message' //流加载容器
                            , done: function (page, next) { //执行下一页的回调
                                //模拟数据插入
                                $.post("/user/MyMessages", {page: page, limit: 2}, function (res) {
                                    var lis = [];
                                    layui.each(res.data, function (i, o) {
                                        var content = '<div class="answer-item" >';
                                        content += '<div class="answer-head">';
                                        content += '<div class="user-avatar ">';
                                        content += '<a class="avatar" href="/user/userinfo/index" target="_blank">';
                                        content += '<img th:src="${session.user.userImg}">';
                                        content += '</a>';
                                        content += '</div>';
                                        content += '</div>';
                                        content += '<div class="answer-detail">';
                                        content += '<span class="comment-reply">';
                                        content += '<div class="user-username ">';
                                        content += '<a class="username" href="javascript:void(0);" style="margin-left: 20px;" target="_blank">' + o.messageName + '</a>';
                                        content += '</div>';
                                        content += '</span>';
                                        content += '<div class="answer-content markdown-body">';
                                        content += "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href='javascript:void(0);' onclick='ydzt(\"" + o.messageID + "\")' style='color: #000000'>" + o.messageContent + "</a>";
                                        content += '</div>';
                                        content += '<div>';
                                        content += '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="create-time">时间：<span>' + o.messageTime + '</span></span>';
                                        if (o.messageState == 0) {
                                            content += '<span style="margin-left: 600px; color: red">未读消息</span>';
                                        } else {
                                            content += '<span style="margin-left: 600px; color: #9E792E">已读消息</span>';
                                        }

                                        content += '<hr/>';
                                        content += '</div>';
                                        content += '</div>';
                                        lis.push(content);
                                    });
                                    //执行下一页渲染，第二参数为：满足“加载更多”的条件，即后面仍有分页
                                    //pages为Ajax返回的总页数，只有当前页小于总页数的情况下，才会继续出现加载更多
                                    next(lis.join(''), page < res.count); //假设总页数为 10
                                });
                            }
                        });
                    });
                });
            })
        </script>


    <script>
        var a = $('#yi').html();
        var b = a;
        a="";
        $(function () {
            $('#imgtx').click(function () {
            });
        });
        function imgUpload() {
            $('#uploadImage').click()
        }

        function setData() {
            var uname = $('#uname').text();
            var uphone = $('#uphone').text();
            var uemail = $('#uemail').text();


            var html="";
            html+="<form class=\"form-horizontal\">";
            html+="<div class=\"form-group\">";
            html+="<label for=\"inputName\" class=\"col-xs-4 control-label\">昵称：</label>";
            html+="<div class=\"col-xs-3\">";
            html+="<input type=\"text\"  placeholder='请输入长度1~12的昵称'  class=\"form-control\" id=\"inputName\" value=\""+uname+"\" />";
            html+="</div>";
            html+="</div>";
            html+="<div class=\"form-group\">";
            html+="<label  class=\"col-xs-4 control-label\">手机号：</label>";
            html+="<div class=\"col-xs-3\">";
            html+="<input type=\"text\" onclick='updatePhone()'  class=\"form-control\"  value=\""+uphone+"\"/>";
            html+="</div></div>";

            if($('#checkEmail').val().length!=0){
                html+="<div class=\"form-group\">";
                html+="<label  class=\"col-xs-4 control-label\">邮箱：</label>";
                html+="<div class=\"col-xs-3\">";
                html+="<input type=\"text\"  class=\"form-control\" onclick=\"updateEmail('修改邮箱地址')\"  value=\""+uemail+"\"/> </div> </div>";
            }
            html+="<div class=\"form-group\">";
            html+="<div class=\"col-xs-offset-5 col-xs-9\">";
            html+="<button type=\"button\"  onclick='updateName11()' class=\"btn btn-default\">确认修改</button>&nbsp;&nbsp;&nbsp;<button onclick='test144()' type=\"button\" class=\"btn btn-default\">返回</button>";
            html+="</div></div></form>";
            $('#yi').html(html);
        }

        function test144() {
            $('#yi').html(b);
        }
        function updatePhone() {
            layui.use('layer', function(){
                var layer = layui.layer;
                var index = layer.open({
                    type: 1,
                    title :'修改手机号',
                    content:$('#setPhone'),
                    area :'auto',
                    maxWidth :400
                });
                $('#close').click(function () {
                    layer.close(index);
                });
            });
        }

        function updateEmail(type) {
            layui.use('layer', function(){
                var layer = layui.layer;
                var index = layer.open({
                    type: 1,
                    title :type,
                    content:$('#setEmail'),
                    area :'auto',
                    maxWidth :400
                });
                $('#emailClose').click(function () {
                    layer.close(index);
                });
            });
        }
        function updateImage() {
            $('#formImage').submit();
        }

        $(function () {
            post_collection();
        });
        //获取用户的帖子收藏
        function post_collection(){
            layui.use('laypage',function () {
                var laypage = layui.laypage;
                $.ajax({
                    url:'/user/getPostCollectionCount',
                    type:'post',
                    success:function(result){
                        var posts = eval(""+result+"");
                        laypage.render({
                             elem: 'collectionPage'
                            ,count:posts.length
                            ,limit:1
                            ,limits:[5,10,15,20,25]
                            ,layout: ['count', 'prev', 'page', 'next', 'limit', 'refresh', 'skip']
                            ,jump: function(obj){
                                $.ajax({
                                    url:'/user/getPostCollection',
                                    type:'post',
                                    data:{
                                        page:obj.curr,
                                        size:obj.limit
                                    },
                                    success:function(data){
                                        var list = eval(""+data+"");
                                        var text = "";
                                        layui.each(list,function (index,item) {
                                            text+='<ul class="flow-default" style="margin-top: 15px;height: 70px;list-style:none;border-bottom:1px solid rgba(59,126,255,0.28);"  >\n' +
                                                '                                    <li style="height: 80px;">\n' +
                                                '                                        <!--用户头像-->\n' +
                                                '                                        <img src="'+item.user_img+'" style="width: 50px;height: 50px" class="layui-nav-img"><p></p>\n' +
                                                '                                        <!--用户名-->\n' +
                                                '                                        <span style="margin-left: 10px" text="">'+item.user_name+'</span>\n' +
                                                '                                       <!--帖子标题-->\n' +
                                                '                                       <div style="margin-left: 10%;margin-top: -50px"><div><h3><span onclick=""  style="cursor:pointer">'+item.post_name+'</span></h3></div>\n' +
                                                '                                                评论数：<span>123</span>\n' +
                                                '                                            </div>\n' +
                                                '                                        <span id="'+item.post_id+'"><button onclick="collection2('+item.post_id+',2)" style="margin-left: 80%;margin-top: -60px"  class="layui-btn layui-btn-warm">取消收藏</button></span>\n' +
                                                '                                    </li>\n' +
                                                '                                </ul>';
                                        });
                                        $('#collection').html(text);
                                    },
                                    error:function(){
                                        console.log('lay分页错误Error')
                                    }
                                });

                            }
                        });
                    },error:function(){
                        console.log('查询收藏Error')
                    }
                });
            });

        }

        function collection2(post_id,type) {
            $.ajax({
                url:'/addConllection',
                type:'post',
                data:{
                    post_id:post_id,
                    type:type
                },
                success:function (result) {
                    post_collection();
                    if(result=='addCollection'){
                        $('#'+post_id).html('<button onclick="collection2('+post_id+',2)" style="margin-left: 80%;margin-top: -60px"  class="layui-btn layui-btn-warm"><span>取消收藏</span></button></span>');
                    }else if(result=='delCollection'){
                        $('#'+post_id).html('<button onclick="collection2('+post_id+',1)" style="margin-left: 80%;margin-top: -60px"  class="layui-btn layui-btn-warm"><span>收藏</span></button></span>');
                    }
                },
                error:function(){
                    console.log("收藏or取消Error");
                }
            });
        }

        function t() {
            $.ajax({
                url:'/user/testabc',
                type:'post',
                success:function(data){
                    $('#pageTest').html(data);
                },
                error:function(){
                    console.log('错误Error')
                }
            });
        }
    </script>

        <script src="/user/updatePhone.js"></script>
        <script src="/user/updateEmail.js"></script>
        <script src="/user/updatePassword.js"></script>
	</body>

    <div id="setPhone" style="height: 300px;display:none;width: 400px">
        <form>
            <table style="margin-left:70px; ">
                <tbody>
                    <tr style="height: 80px">
                        <td><input onblur="phoneCheck()" type="number" name="phone" id="phone" class="layui-form-label"  placeholder="请输入新手机号" style="width: 230px;text-align:left;"/></td>
                    </tr>
                    <tr style="height: 80px">
                        <td><input type="text" id="code" class="layui-form-label"  placeholder="请输入验证码" style="width: 120px;text-align:left;"/>&nbsp;&nbsp;&nbsp;<button type="button" id="getCode" class="layui-btn layui-btn-normal">获取验证码</button></td>
                    </tr>
                    <tr style="height: 80px">
                        <td><input type="hidden" name="userId" th:value="${session.user.userID}"/><button class="layui-btn layui-btn-normal" type="button" onclick="subUpPhone()" style="margin-left: 20px">确认修改</button>&nbsp;&nbsp;&nbsp;<button id="close" class="layui-btn layui-btn-warm" type="button" style="margin-left: 20px">返回</button></td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>

    <div id="setEmail" style="height: 300px;display:none;width: 400px">
        <form>
            <table style="margin-left:70px; ">
                <tbody>
                <tr style="height: 80px">
                    <td><input  type="email" id="email" name="email" onblur="emailCheck()" class="layui-form-label"  placeholder="请输入邮箱地址" style="width: 230px;text-align:left;"/></td>
                </tr>
                <tr style="height: 80px">
                    <td><input type="text" id="emailCode" class="layui-form-label"  placeholder="请输入验证码" style="width: 120px;text-align:left;"/>&nbsp;&nbsp;&nbsp;<button type="button" id="getEmailCode" class="layui-btn layui-btn-normal">获取验证码</button></td>
                </tr>
                <tr style="height: 80px">
                    <td><input id="userId" type="hidden" name="userId" th:value="${session.user.userID}"/><button class="layui-btn layui-btn-normal" type="button" onclick="subUpEmail()" style="margin-left: 20px">确认</button>&nbsp;&nbsp;&nbsp;<button id="emailClose" class="layui-btn layui-btn-warm" type="button" style="margin-left: 20px">返回</button></td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
</html>
