<!--suppress ALL-->
<html lang="en"  xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
>
<head>
	<meta charset="UTF-8">
	<title>zking课堂</title>
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/admin/css/font.css">
    <link rel="stylesheet" href="/admin/css/xadmin.css">
    <script src="/admin/js/jquery.min.js"></script>
    <link rel="stylesheet" href="/admin/layui/css/layui.css"/>
    <script src="/admin/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/admin/js/xadmin.js"></script>
    <script th:inline="javascript">

        var empid = [[${session.emp.empID}]]
        var xx=[[${session.emp.empPassword}]]   //--获取session中的值

    </script>

</head>
<!--<shiro:hasPermission name="loginTrue">-->
<body>
    <!-- 顶部开始 -->
    <div class="container">
        <div class="logo"><a href="#"><img src="/user/img/logo.png" style="width: 140px;height: 50px;"></a></div>
        <div class="left_open">
            <i title="展开左侧栏" class="iconfont">&#xe699;</i>
        </div>

        <ul class="layui-nav right" lay-filter="">
            <li class="layui-nav-item">
                <img th:src="${session.emp.empIntegral}" src="/user/img/1.jpg" class="layui-nav-img">
            </li>
          <li class="layui-nav-item">

            <a href="javascript:;" th:text="${session.emp.empName}">***</a>
            <dl class="layui-nav-child"> <!-- 二级菜单 -->
              <dd><a onClick="x_admin_show('个人信息','/url/mymessage','500','450')">个人信息</a></dd>
              <dd><a onClick="updatepwd()">修改密码</a></dd>
              <dd><a href="/url/loginpage" onclick="if(confirm('确认退出登录吗？')==false)return false;">退出登录</a></dd>
            </dl>
          </li>
          <li class="layui-nav-item to-index"><a href="http://47.107.120.48:8800" target=_blank>前台首页</a></li>
        </ul>
    </div>
    <!-- 顶部结束 -->
    <!-- 中部开始 -->

     <!-- 左侧菜单开始 -->
    <div class="left-nav">
      <div id="side-nav">

      </div>
    </div>
    <!-- <div class="x-slide_left"></div> -->
    <!-- 左侧菜单结束 -->
    <!-- 右侧主体开始 -->
    <div class="page-content">
        <div class="layui-tab tab" lay-filter="xbs_tab" lay-allowclose="false">
          <ul class="layui-tab-title">
            <li class="home" id="zmsy"><i class="layui-icon">&#xe68e;</i>首页桌面</li>
          </ul>
          <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <iframe src="/url/welcome"></iframe>
                <!--这里是首页桌面-->
            </div>
          </div>
        </div>
    </div>
    <div class="page-content-bg"></div>
    <!-- 右侧主体结束 -->
    <!-- 中部结束 -->
    <script type="text/javascript">

        //加载弹出层
        layui.use(['form','element'],
            function() {
                layer = layui.layer;
                element = layui.element;
            });
        $("#aid").on('click', function(){//设置菜单选中
           $("#zmsy").click();
        });


        $(function(){
            var flag = false;    //标识，表示页面上数据还未处理完成
            $.ajax({
                type: "post",
                dataType: "json",
                async: false,//同步
                url: "/menu/getmenus",//请求接口
                data:{
                    empid:empid
                },
                success: function (data) {
                    //先添加所有的主材单
                    var content = '<ul id="nav">';
                    $.each(data, function (i, obj) {
                        content +='<li><a href="javascript:;"><i class="layui-icon">'+obj.menuImg;
                        content +='</i><cite>'+obj.menuName+'</cite><i class="iconfont nav_right">&#xe6a7;</i></a>';
                        content +=loadchild(obj.menus);
                        content +='</li>';
                    });
                    content +='</ul>';
                    // alert(content);
                    $('#side-nav').html(content);
                    flag = true;
                },
                error: function (jqXHR) {
                    alert("发生错误：" + jqXHR.status);
                }
            });

            var loadFile;
            loadFile = setInterval(function() {//定时检测
                if(flag) {//如果数据已经处理完毕
                    loadjscssfile('/admin/layui/css/layui.css', "css"); //加载你的css文件
                    loadjscssfile('/admin/css/xadmin.css', "css"); //加载你的css文件
                    loadjscssfile('/admin/js/jquery.min.js', "js"); //加载你的js文件
                    loadjscssfile('/admin/layui/layui.js', "js"); //加载你的js文件
                    loadjscssfile('/admin/js/xadmin.js', "js"); //加载你的js文件     //开启后  静态无法展开
                    flag = false;
                }
            },50);

        });
        //组装子菜单的方法
        function loadchild(obj) {
            //alert(obj[0].treeTitile);
            if (obj == null) {
                return;
            }
            if (obj != null && obj.length > 0) {
                var content = '<ul class="sub-menu">';
                $.each(obj, function (i, note) {
                    if (note == null) {
                        return;
                    }
                    content += '<li><a _href="'+note.menuURL+'"><i class="layui-icon">'+note.menuImg+'</i><cite>'+note.menuName+'</cite></a></li>';
                });
                content += '</ul>';
            }
            return content;
        }


        function updatepwd(){
            layer.open({
                id:1,
                type: 1,
                title:'修改密码',
                skin:'layui-layer-rim',
                area: ['400px','260px'],
                content: '<div class="layui-form-item">'
                    +'<label class="layui-form-label"> 旧密码</label>'
                    +' <div class="layui-input-block">'
                    +'<input type="password" name="password" placeholder="请输入密码" autocomplete="off" class="layui-input" style="width: 200px" id="pwd0">'
                    +'</div></div>'
                    +'<div class="layui-form-item">'
                    +'<label class="layui-form-label"> 新 密 码</label>'
                    +' <div class="layui-input-block">'
                    +'<input type="password" name="password" placeholder="请输入密码" autocomplete="off" class="layui-input" style="width: 200px" id="pwd1">'
                    +'</div></div>'
                    +'<div class="layui-form-item">'
                    +'<label class="layui-form-label">确认密码</label>'
                    +' <div class="layui-input-block">'
                    +'<input type="password" name="password" placeholder="请再次输入密码" autocomplete="off" class="layui-input" style="width: 200px" id="pwd2">'
                    +'</div></div>'
                ,
                btn:['保存','取消'],
                btn1: function (index,layero) {
                    if($("#pwd0").val()==""){
                        layer.msg("旧密码不能为空",{icon: 2,time: 700,shade : [0.5 , '#000' , true]});
                        $("#pwd0").select();
                    }
                    else if($("#pwd1").val()==""){
                        layer.msg("新密码不能为空",{icon: 2,time: 700,shade : [0.5 , '#000' , true]});
                        $("#pwd1").select();
                    }
                    else if($("#pwd2").val()==""){
                        layer.msg("再次输入不能为空",{icon: 2,time: 700,shade : [0.5 , '#000' , true]});
                        $("#pwd2").select();
                    }
                    else if($("#pwd1").val()!=$("#pwd2").val()){
                        layer.msg("两次密码输入不一致",{icon: 2,time: 700,shade : [0.5 , '#000' , true]});
                        $("#pwd2").select();
                    }
                    else if(xx != $("#pwd0").val()){
                        layer.msg("旧密码输入有误",{icon: 2,time: 700,shade : [0.5 , '#000' , true]});
                        $("#pwd0").select();
                    }
                    else{
                        $.ajax({
                            url:'/admin/updateemp',
                            type:'post',
                            data:{
                                empID:empid,
                                empPassword:$("#pwd2").val()
                            },
                            success:function (result) {
                                if(result=="ok"){
                                    layer.confirm('修改成功,跳转至登录页面,请重新登录', {
                                        btn : [ '确定' ]//按钮
                                    }, function(index) {
                                        window.location.href='/url/loginpage';
                                    });
                                }else{
                                    layer.msg("出现bug了，请联系9527")
                                }
                            },
                            error:function () {
                                layer.msg("出现bug了，请联系921607915")
                            }
                        });
                    }
                },
                btn2:function (index,layero) {
                    layer.close(index);
                }
            });
        }


    </script>
</body>
<!--</shiro:hasPermission>-->
</html>

