<!DOCTYPE html>
<!--suppress ALL-->
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/admin/css/font.css">
    <link rel="stylesheet" href="/admin/css/xadmin.css">
    <script src="/admin/js/jquery.min.js"></script>
    <script type="text/javascript" src="/admin/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/admin/js/xadmin.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  
  <body>

  <div class="layui-fluid">
    <div class="layui-card">
      <div class="layui-card-body" style="padding: 15px;">
        <form class="layui-form" action="" lay-filter="component-form-group">
              <label class="layui-form-label">选择试题</label>
              <div class="layui-input-inline">

                <select name="quiz">
                  <option value="">选择题目类型</option>
                  <optgroup label="城市记忆" th:each="item:${session.category}" th:label="${item.categoryName}">
                    <option value="你工作的第一个城市" th:each="itema:${item.categories}" th:value="${itema.categoryID}" th:text="${itema.categoryName}">你工作的第一个城市</option>
                  </optgroup>
                </select>

              </div>

          <div class="layui-form-item" style="margin-top: 20px;margin-left: 45px">
            <div class="layui-input-block">
              <button class="layui-btn" lay-submit="" lay-filter="demo1">开始考试</button>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>

    
  <script>
  layui.use(['util', 'laydate', 'layer','form'], function(){
    var util = layui.util
            ,form = layui.form
            ,laydate = layui.laydate
            ,layer = layui.layer;
    var $ = layui.jquery;
    var table = layui.table;



    //监听提交
    form.on('submit(demo1)', function(data){
      // layer.alert(JSON.stringify(data.field.quiz))//获取要考试的小类 Java初级
      if(data.field.quiz==""||data.field.quiz==null){
        layer.alert("请选择你要考试的题目类型")//获取要考试的小类 Java初级
      }
      else{
        window.open("/title/gettitles?titleCid="+data.field.quiz)
        var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
        parent.layer.close(index); //再执行关闭
      }
      return false;
    });



  });

  </script>
</body>
</html>