<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
  <title>添加员工</title>
</head>
<link rel="stylesheet" th:href="@{/admin/layui/css/layui.css}"/>
<script th:src="@{/admin/layui/layui.js}" charset="utf-8"></script>
<body>

<div class="layui-inline" style="margin-left: 200px;margin-top: 20px">
  <img th:src="${session.emp.empIntegral}" src="//cdn.layui.com/avatar/168.jpg?t=1490352249902" class="layui-circle" width="100px" height="100px">
</div>

<fieldset class="layui-elem-field">
  <legend>个人信息</legend>
  <div class="layui-field-box">




<form class="layui-form" action="" lay-filter="example">


  <div class="layui-form-item">
    <label class="layui-form-label">ID</label>
    <div class="layui-input-block">
      <input th:value="${session.emp.empID}" type="text" name="id" lay-verify="title" autocomplete="off" class="layui-input" style="width: 300px"  readonly  disabled="disabled" >
    </div>
  </div>

  <div class="layui-form-item">
    <label class="layui-form-label">账号</label>
    <div class="layui-input-block">
      <input th:value="${session.emp.empName}" type="text" name="empname" lay-verify="title" autocomplete="off" class="layui-input" style="width: 300px"  readonly  disabled="disabled" >
    </div>
  </div>



  <div class="layui-form-item">
    <label class="layui-form-label">角色</label>
    <div class="layui-input-block">
      <input id="role" type="text" name="role" lay-verify="title" autocomplete="off"  class="layui-input" style="width: 300px" disabled="disabled" >
    </div>
  </div>

  <div class="layui-form-item">
    <label class="layui-form-label">入职日期</label>
    <div class="layui-input-block">
      <input th:value="${session.emp.empTime}" type="text" name="emptime" lay-verify="title" autocomplete="off" class="layui-input" style="width: 300px" disabled="disabled">
    </div>
  </div>




</form>

  </div>
</fieldset>

<script>
  layui.use(['table'], function(){
    var $ = layui.jquery
    var table = layui.table
    ,form = layui.form;

    var empid = [[${session.emp.empID}]]
    //检查项目添加到下拉框中
    $.ajax({
      url: '/admin/getrolename',
      dataType: 'json',
      type: 'post',
      data:{
       empid:empid
      },
      success: function (data) {
        $("#role").val(data);
      },
      error:function (jqXHR) {
        alert("发生错误：" + jqXHR.status);
      }
    })


    //监听提交
    form.on('submit(demo1)', function(data){
      if($("#pwd1").val()!=$("#pwd2").val()){
        layer.msg("两次密码输入不一致",{icon: 2,time: 700,shade : [0.5 , '#000' , true]});
        $("#pwd2").select();
      }
      else if($("#xm").val()==""){
        layer.msg("请选择角色",{icon: 2,time: 700,shade : [0.5 , '#000' , true]});
      }
      else{
        $.ajax({
          url:'/admin/addemp',
          type:'post',
          data:{
            jsons:JSON.stringify(data.field)
          },
          success:function (result) {
            if(result=="ok"){
              layer.confirm('添加成功', {
                btn: ['确认', '取消'] //可以无限个按钮
                ,btn3: function(index, layero){
                  //按钮【按钮三】的回调
                  window.parent.location.reload();//刷新父页面
                  // parent.layer.close(index);//关闭弹出层
                  // layer.close(index);
                }
              }, function(index, layero){
                //按钮【按钮一】的回调
                window.parent.location.reload();//刷新父页面
              }, function(index){
                //按钮【按钮二】的回调
                window.parent.location.reload();//刷新父页面
              });

            }else{
              layer.msg("出现bug了，请联系9527")
            }
          },
          error:function () {
            layer.msg("出现bug了，请联系921607915")
          }
        });
        // layer.alert(JSON.stringify(data.field), {
        //   title: '最终的提交信息'
        // })
      }

    });

    //自定义验证规则
    form.verify({
      title: function(value){
        if(value.length < 5){
          return '标题至少得5个字符啊';
        }
        if(!new RegExp("^[a-zA-Z0-9_\u4e00-\u9fa5\\s·]+$").test(value)){
          return '用户名不能有特殊字符';
        }
        if(/(^\_)|(\__)|(\_+$)/.test(value)){
          return '用户名首尾不能出现下划线\'_\'';
        }
      }
      ,pass: [
        /^[\S]{6,12}$/
        ,'密码必须6到12位，且不能出现空格'
      ]
      ,content: function(value){
        layedit.sync(editIndex);
      }
    });
  });
</script>

</body>
</html>