<!DOCTYPE html>
<html lang="zh-CN">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Lei Shi">
    <meta http-equiv="Cache-Control" content="o-transform">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <meta name="csrf-token" content="1483780974##87f89328c5616669f00302a263fe9061bb852818">


    <title>zking学习体系</title>




    <meta content="实验楼课程分为基础课和项目课，内容涵盖了Linux、Python、Java、C语言、Ruby、Android、IOS开发、大数据、信息安全等IT技术领域。" name="description">
    <meta content="实验楼课程,IT培训课程,IT实训课程,IT在线课程,all" name="keywords">

    <meta content="实验楼,琛石科技" name="author">

    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="/user/static/font-awesome//4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/user/static/highlight.js/9.8.0/monokai-sublime.min.css">
    <link rel="stylesheet" href="/user/app/css/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/user/app/css/libs/katex/0.6.0/katex.min.css">
    <link rel="stylesheet" href="/user/app/css/libs/videojs/5.11.7/video-js.min.css">
    <link rel="stylesheet" href="/user/app/css/dest/styles.css?=2016121272249">

    <style>
        @font-face {
            font-family: "lantingxihei";
            src: url("/user/fonts/FZLTCXHJW.TTF");
        }

        /* modal 模态框*/
        #invite-user .modal-body {
            overflow: hidden;
        }
        #invite-user .modal-body .form-label {
            margin-bottom: 16px;
            font-size:14px;
        }
        #invite-user .modal-body .form-invite {
            width: 80%;
            padding: 6px 12px;
            background-color: #eeeeee;
            border: 1px solid #cccccc;
            border-radius: 5px;
            float: left;
            margin-right: 10px;
        }
        #invite-user .modal-body .msg-modal-style {
            background-color: #7dd383;
            margin-top: 10px;
            padding: 6px 0;
            text-align: center;
            width: 100%;
        }
        #invite-user .modal-body .modal-flash {
            position: absolute;
            top: 53px;
            right: 74px;
            z-index: 999;
        }
        /* end modal */

        .en-footer {
            padding: 30px;
            text-align: center;
            font-size: 14px;
        }
    </style>



</head>

<body>
<!--引入头部样式-->
<div th:replace="user/head :: html"></div>


<div class="container layout layout-margin-top">

    <ol class="breadcrumb">
        <li><a href="/">学习路径</a></li>
        <li class="active"><a href="javascript:void(0)" th:text="${system.systemName}"></a></li>
    </ol>

    <div class="row">
        <div class="col-md-9 layout-body">

            <div class="content" style="padding:0px">
                <div class="path-description" style="margin:0px">
                    <div class="path-desc-top clearfix" style="background: url('/user/img/1471513740139.png') no-repeat;background-size: cover;">
                        <div class="name-total-box clearfix">
                            <div class="col-md-6 col-sm-6 col-md-offset-1 path-name">
                                <span id="systemID" th:title="${system.systemID}"></span>
                                <h4 th:text="${system.systemName}"></h4>
                            </div>
                            <div class="col-md-3 col-sm-6 col-md-offset-1 path-total-courses">
                                <span class="total-courses-box">课程 <span class="num" th:text="${system.ccount}"></span></span>
                            </div>
                        </div>
                        <div class="col-md-10 col-md-offset-1 path-desc-text" th:text="${system.systemDesc}"></div>
                    </div>
                    <!--<div class="path-desc-btm" >
                        <div class="col-sm-12 col-md-4 clearfix learn-time-div">
                            <div class="col-md-12 text-left need-learn-time">预计需要 <span class="num">30</span> 小时学习</div>
                        </div>
                        <div class="col-sm-12 col-md-8  clearfix text-right" style="padding-top:0px">
                            <div class="col-xs-12">

                                <a class="btn btn-path-operation btn-join-path" data-sign="signin" href="#sign-modal" data-toggle="modal">加入路径</a>

                                <p style="font-size:10px;margin-top:5px">加入获得路径课程更新提醒</p>
                            </div>
                        </div>
                    </div>-->
                </div>
            </div>
            <div class="content">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#path-details" aria-controls="path-details" role="tab" data-toggle="tab">路径详情</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane path-details active" id="path-details">
                        <div class="details-box">
                            <!--<a href="/courses/63" class="btn start-btn">开始学习</a>-->

                            <!--体系下的课程-->
                            <div id="systems">
                                <!--&lt;!&ndash;子体系&ndash;&gt;
                                <div class="clearfix text-center path-title-box">
                                    <span class="line hidden-xs"></span>
                                    <span>阶段1：基础知识</span>
                                    <span class="line hidden-xs"></span>
                                </div>

                                &lt;!&ndash;子体系下的课程&ndash;&gt;
                               <div class="row">
                                    <div class="col-md-4 col-sm-6  course">
                                        <a class="course-box" href="/courses/2">
                                            <div class="sign-box">
                                                <i class="fa fa-star-o course-follow pull-right"
                                                   data-follow-url="/courses/2/follow"
                                                   data-unfollow-url="/courses/2/unfollow"  style="display:none"  ></i>
                                            </div>
                                            <div class="course-img">
                                                <img alt="Vim编辑器" src="https://dn-simplecloud.shiyanlou.com/ncn2.jpg">
                                            </div>
                                            <div class="course-body">
                                                <span class="course-title" data-toggle="tooltip" data-placement="bottom" title="Vim编辑器">Vim编辑器</span>
                                            </div>
                                            <div class="course-footer">
                <span class="course-per-num pull-left">
                    <i class="fa fa-users"></i>
                    26839
                </span>
                                            </div>
                                        </a>
                                    </div>
                                </div>-->

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-3 layout-side">
            <!--右边登录-->
            <div class="panel panel-default panel-userinfo">
                <div class="panel-body body-userinfo">

                    <div class="panel panel-default panel-userinfo">
    <span th:if="${session.user}!=null">
        <div class="panel-body body-userinfo">
        <div class="media userinfo-header">
            <div class="media-left">
                <div class="user-avatar">
                     <a class="avatar" href="user/userinfo" data-toggle="modal" data-sign="signin">
                         <img class="circle" th:src="${session.user.userImg}">
                     </a>
                </div>
             </div>
            <div class="media-body">
                 <span class="media-heading username">欢迎来到实验楼</span>
                 <p class="vip-remain">做实验，学编程</p>
            </div>
        </div>
        <div class="row userinfo-data">
            <hr>
            <div class="btn-group-lr">
                <span style="margin-left: -20px">用户：<span th:text="${session.user.userName}"></span></span>&nbsp;&nbsp;&nbsp;&nbsp;
                <span>积分余额：<span th:text="${session.user.userIntegrsl}">114514</span></span>
                <!--<a href="#sign-modal" type="button" class="btn btn-success col-md-5 col-xs-6 login-btn" data-toggle="modal" data-sign="signin">登录</a>
                <a href="#sign-modal" type="button" class="btn btn-success col-md-5 col-xs-6 col-md-offset-1 register-btn" data-toggle="modal" data-sign="signup">注册</a>-->
            </div>
        </div>
    </div>
    </span>
                        <span th:if="${session.user}==null">
        <div class="panel-body body-userinfo">
        <div class="media userinfo-header">
            <div class="media-left">
                <div class="user-avatar">
                     <a class="avatar" href="user/userinfo" data-toggle="modal" data-sign="signin">
                         <img class="circle" src="/user/img/default.jpg">
                     </a>
                </div>
             </div>
            <div class="media-body">
                 <span class="media-heading username">欢迎来到zking课程</span>
                 <p class="vip-remain">做实验，学编程</p>
            </div>
        </div>
        <div class="row userinfo-data">
            <hr>
            <div class="btn-group-lr">
                <a href="#sign-modal" type="button" class="btn btn-success col-md-5 col-xs-6 login-btn" data-toggle="modal" data-sign="signin">登录</a>
                <a href="#sign-modal" type="button" class="btn btn-success col-md-5 col-xs-6 col-md-offset-1 register-btn" data-toggle="modal" data-sign="signup">注册</a>
            </div>
        </div>
    </div>
    </span>

                </div>
            </div>

            <!--右边体系热门课程-->
            <div class="sidebox">
                <div class="sidebox-header">
                    <h4 class="sidebox-title">此体系最热课程</h4>
                </div>
                <div class="sidebox-body course-content side-list-body">
                    <!--<a href="/paths/python"><img style="width:25px;height:25px" src="/user/img/1471513769430.png"> Python 研发工程师</a>-->
                </div>
            </div>

            <!--右边卓京公众号-->
            <div class="side-image side-qrcode">
                <img src="http://www.veryedu.cn/templates/zhuojing/images/index_129.jpg">
                <div class="side-image-text">关注公众号，手机看教程</div>
            </div>

        </div>
    </div>
</div>


<div class="modal fade" id="flash-message" tabindex="-1" role="dialog">
    <div class="modal-dialog" rolw="document">
    </div>
</div>
<div class="modal fade" id="modal-message" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">注意</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary confirm" data-dismiss="modal">确定</button>
            </div>
        </div>
    </div>
</div>


<div id="base-data"


     data-flash="false"



     data-is-login=false

     data-is-jwt=true
     data-socket-url="wss://comet.shiyanlou.com"
     data-msg-user=""
     data-msg-system=""
></div>

<script src="/user/app/dest/lib/lib.js?=2016121272249"></script>
<script src="/user/static/jquery/2.2.4/jquery.min.js"></script>
<script src="/user/static/ace/1.2.5/ace.js"></script>
<script src="/user/static/aliyun/aliyun-oss-sdk-4.3.0.min.js"></script>
<script src="/user/static/highlight.js/9.8.0/highlight.min.js"></script>
<script src="/user/static/jspdf/1.2.61/jspdf.min.js"></script>
<script src="/user/static/plupload/2.1.9/js/plupload.full.min.js"></script>
<script src="/user/static/zeroclipboard/2.2.0/ZeroClipboard.min.js"></script>
<script src="/user/static/videojs/video.min.js"></script>
<script src="/user/static/bootstrap-tour/0.11.0/js/bootstrap-tour.min.js"></script>
<script src="/user/static/bootstrap-table/1.11.0/bootstrap-table.min.js"></script>
<script src="/user/static/bootstrap-table/1.11.0/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="/user/static/bootstrap-table/1.11.0/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>

<script src="/user/static/ravenjs/3.7.0/raven.min.js"></script>
<script>
    Raven.config('https://bc3878b7ed0a4468a65390bd79e6e73f@sentry.shiyanlou.com/5', {
        release: '3.12.13'
    }).install();

    //程序入口
    $(function () {
        //获取体系Id
        var systemID=$('#systemID').attr("title");

        //获取子体系以及子体系下的课程
        $.ajax({
            type:"post",
            url:"/systems",
            data:JSON.stringify({
                systemID:systemID
            }),
            dataType:"json",
            contentType : "application/json",//应用类型/json
            success:function(systems){
                //判断体系是否为空
                if (systems.data.length>0){
                    var content='';
                    //遍历体系
                    for(var i=0;i<systems.data.length;i++){
                        content+='<div class="clearfix text-center path-title-box">' +
                            '<span class="line hidden-xs"></span>' +
                            '<span>'+systems.data[i].systemName+'</span>' +
                            '<span class="line hidden-xs"></span>' +
                            '</div>'+
                            '<div class="row">';
                        //遍历体系下的课程
                        for(var j=0;j<systems.courses.length;j++){
                            //判读课程里的体系Id是否相等
                            if(systems.courses[j].courseSid==systems.data[i].systemID){
                                content+='<div class="col-md-4 col-sm-6  course">' +
                                    '<a class="course-box" href="/courseshow/'+systems.courses[j].courseID+'">' +
                                    ' <div class="sign-box">' +
                                    '<i class="fa fa-star-o course-follow pull-right"' +
                                    'data-follow-url="/courses/75/follow"' +
                                    'data-unfollow-url="/courses/75/unfollow" style="display:none" ></i>' +
                                    '</div>' +
                                    '<div class="course-img">' +
                                    '<img alt="'+systems.courses[j].courseName+'" src="'+systems.courses[j].courseImg+'">' +
                                    '</div>' +
                                    '<div class="course-body">' +
                                    '<span class="course-title" data-toggle="tooltip" data-placement="bottom" title="'+systems.courses[j].courseName+'">'+systems.courses[j].courseName+'</span>' +
                                    '</div>' +
                                    '<div class="course-footer">' +
                                    '<span class="course-per-num pull-left">' +
                                    '<i class="fa fa-users"></i>' +
                                    ''+systems.courses[j].courseNum+'' +
                                    '</span>' +
                                    '</div>' +
                                    '</a>' +
                                    '</div>';
                            }
                        }
                        content+='</div>';
                    }
                    $("#systems").html(content);
                }
            },
            error:function(){
                aler("接口回调异常");
            }
        });

        //获取此体系下的热门课程
        $.ajax({
            url: '/hotcoubySid',
            data: {
                systemID: systemID
            },
            dataType:"json",
            success: function(res){
                //循环拼接最热课程
                var conten='';
                $(res).each(function (i,cou) {
                    conten+='<a href="/courseshow/'+cou.courseID+'"><img style="width:25px;height:25px" src="'+cou.courseImg+'"> '+cou.courseName+'</a>';
                });
                $('.side-list-body').html(conten);
            },
            error: function(){
                alert("体系热门课程接口回调失败");
            }
        });
    });
</script>


<div id="jinja-data"

     data-user-id="0"
     data-user-in-path= "false"

     data-join-path-url="/jobs/9/join"
     data-leave-path-url ="/jobs/9/leave"
     data-path-comment-url="/jobs/9/comment"
     data-user-logined="false"
></div>
<script src="/user/app/dest/path/path.js?=2016121272249"></script>


<!--底部-->
<div th:replace="user/footer.html :: html"></div>

</body>
</html>
