<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
</head>
<body>

<div class="demoTable">
    <select id="type" lay-verify="required" style="height: 35px">
        <option value="账单编号">账单编号</option>
        <option value="用户名">用户名</option>
        <option value="账单积分">账单积分</option>
        <option value="账单类型">账单类型</option>
        <option value="账单详细">账单详细</option>
        <option value="账单时间">账单时间</option>
    </select>
    搜索：
    <div class="layui-inline">
        <input class="layui-input" name="search" id="demoReload" autocomplete="off">
    </div>
    <button class="layui-btn" id="search" data-type="reload">搜索</button>
</div>

<table class="layui-hide" id="test" lay-filter="test"></table>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<link rel="stylesheet" th:href="@{/user/layui/css/layui.css}" />
<script th:src="@{/user/layui/layui.js}"  charset="utf-8"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->

<script>
    layui.use('table', function(){
        var table = layui.table;
        var $ = layui.jquery;

        table.render({
            elem: '#test'
            ,url:'/admin/billAll'
            ,toolbar:true
            ,defaultToolbar: ['filter', 'print', 'exports']
            ,title: '账单表'
            ,id:"tableReload"
            ,cols: [
                [
                {type: 'checkbox', fixed: 'left'}
                ,{field:'billID', title:'账单编号', fixed: 'left', unresize: true, sort: true}
                ,{field:'userName', title:'用户名'}
                ,{field:'billMoney', title:'账单金额 ',   sort:true }
                ,{field:'billIntegral', title:'账单积分',   sort:true }
                ,{field:'billContent', title:'账单详细' ,sort: true}
                ,{field:'billType', title:'账单类型',sort:true }
                ,{field:'billTime', title:'账单时间',sort:true }
                ,{fixed: 'right', title:'操作', toolbar: '#barDemo'}
                ]
            ]
            ,page: true
        });

        $("#search").on('click', function(){

            //执行重载
            table.reload('tableReload', {
                page: {
                    curr: 1 //重新从第 1 页开始
                }
                ,where: {
                    search:$('#demoReload').val(),
                    type:$("#type").val()
                }
            });
        });


        //监听行工具事件
        table.on('tool(test)', function(obj){
            var data = obj.data;
            if(obj.event === 'del'){
                layer.confirm('你可是管理员，真的要删除吗？你确定？', function(index){
                    $.ajax({
                        url:'/admin/delbill',
                        type:'post',
                        data:{
                            billID:data.billID,
                        },
                        success:function () {
                            obj.del();
                            layer.close(index);
                        },
                        error:function () {
                            layer.msg("出现bug了，请联系921607915")
                        }
                    })
                });
            }
        });
    });

</script>

</body>
</html>