
<!DOCTYPE html>
<html lang="zh">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>zking课堂后台管理中心</title>
<link rel="stylesheet" type="text/css" href="/admin/css/login.css">
</head>
<body style="background-image: url('https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1563374019&di=8db64e9d1b0865cd59595950d128b77d&imgtype=jpg&er=1&src=http%3A%2F%2Fpic.4j4j.cn%2Fupload%2Fpic%2F20130827%2F4325144fcb.jpg')">
<div id="wrapper" class="login-page">
<div id="login_form" class="form">

<form class="login-form">
 <h2>管理登录</h2>
<input type="text" placeholder="用户名" value="admin" id="user_name" />
<input type="password" placeholder="密码" id="password" />
<button id="login">登　录</button>

</form>
</div>
</div>



<script src="/admin/js/jquery.min.js"></script>
<script type="text/javascript">

	function check_login(){
         var name=$("#user_name").val();
         var pass=$("#password").val();
        if(name==""||pass==""){
            alert("用户名或者密码不能为空！！");
        }
        else{
            $.ajax({
                type:"post",
                datatype:"json",
                url:"/admin/login",
                data:{
                    empName:name,
                    empPassword:pass
                },
                success:function(data){
                    if(data.message==0){
                        alert("登录成功！！");
                        $(location).attr('href', '/url/index');
                    }
                    else if(data.message==1){
                        $("#login_form").removeClass('shake_effect');
                        setTimeout(function()
                        {
                            $("#login_form").addClass('shake_effect')
                        },1);
                    }
                },
                error:function(){
                    alert("操作过于频繁,请稍后再试!或重启系统");
                }
            })
        }



	}

	$(function(){

		$("#create").click(function(){
			check_register();
			return false;
		})
		$("#login").click(function(){
			check_login();
			return false;
		})
		$('.message a').click(function () {
		    $('form').animate({
		        height: 'toggle',
		        opacity: 'toggle'
		    }, 'slow');
		});
	})
	</script>
    <script>

        $(function(){
            pushHistory();
            window.addEventListener("popstate", function(e) {
                // alert("监听到返回按钮事件啦");
                //根据自己的需求实现自己的功能
                window.location.href = '/url/loginpage'
            }, false);
            function pushHistory() {
                var state = {
                    title: "title",
                    url: "#"
                };
                window.history.pushState(state, "title", "#");
            }
        });
    </script>

</body>

</html>